{{#unless hidden}}
    <div style='background-color:#dddddd'>
        {{{change}}}

        {{#if session.data.authenticated.isAdmin}}
            <button class={{styleAccepted}} {{action 'accept'}}></button>
        {{/if}}
        <button class={{styleRejected}} {{action 'reject'}}></button>
    </div>
{{/unless}}
