<div style="width:100%;text-align:center;display: block;margin-left: auto;margin-right: auto; padding-bottom:5px; margin-top:4px;">
    <div style="">Annotations
    {{#em-modal-toggler class="show-all-button" modal-id=nameID}}
        <span class="annotations-count-icon">{{resource.comms.length}}</span>Show All
    {{/em-modal-toggler}}

    </div>

</div>

{{#em-modal configName="bs" id=nameID}}
    {{#em-modal-body}}
        <div class="">
            <h3 class="modal-header" >
                Annotations
                <span class="glyphicon glyphicon-comment"></span>
            </h3>
        </div>
        <div class="pre-scrollable">
            {{#each resource.comms as |message|}}
                <div class="">
                    <div class="">
                        {{#if message.isMe}}
                            You
                        {{else}}
                            {{message.src_user_name_first}}
                        {{/if}}
                        <span class="annotation-timestamp">
                            {{message.timestamp_formatted}}
                        </span>
                    </div>
                    <div class="annotation-content" style="word-wrap: break-word;">
                        {{message.content}}
                        {{!Delete should only be available to user who creates it}}
                        {{#if message.isMe}}
                            <button {{action 'destroyMessage' message target='view'}} style="color:red; float: right"
                                                                                      class="glyphicon glyphicon-remove nobackground">
                            </button>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="">
            {{textarea action="createMessage" value=textAreaValue aria-controls="existing-user-table" placeholder="Add annotation" autofocus="autofocus"
            autoresize=true classNames="form-control"}}
        </div>
        {{#em-modal-toggler class="btn btn-default"}}Close{{/em-modal-toggler}}
    {{/em-modal-body}}
{{/em-modal}}

{{#each resource.comms as |message|}}
    {{#if message.unreadOrNew}}
        <div class="">
            <div class="">
                {{#if message.isMe}}
                    You
                {{else}}
                    {{message.src_user_name_first}}
                {{/if}}
                <span class="annotation-timestamp">
                    {{message.timestamp_formatted}}
                </span>
            </div>
            <div class="annotation-content" style="word-wrap: break-word;">
                {{message.content}}
                {{!Delete should only be available to user who creates it}}
                {{#if message.isMe}}
                    <button {{action 'destroyMessage' message target='view'}} style="color:red; float: right"
                                                                              class="glyphicon glyphicon-remove nobackground">
                    </button>
                {{/if}}
            </div>
        </div>
    {{/if}}
{{/each}}
<div>
    {{textarea action="createMessage" value=textAreaValue aria-controls="existing-user-table"
    placeholder="Add annotation" autofocus="autofocus" autoresize=true classNames="form-control"}}
</div>
