<button class="btn btn-primary" type="button">
  Unread <span class="badge">{{unreadCount}}</span>
</button>
{{input action="createMessage" aria-controls="existing-user-table" placeholder="Search"}}
{{#each chatMessages as |message|}}
    <div class="panel panel-default">
      <div class="panel-body">
        {{message.src_user_id}} says : {{message.content}}
      </div>
      {{message.timestamp}}
      <button {{action 'destroyMessage' message target='view'}}>Remove</button>
    </div>
{{/each}}
