{{!--
Copyright 2016 The MITRE Corporation, All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this work except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}

<div style="width:100%;text-align:center;display: block;margin-left: auto;margin-right: auto; padding-bottom:5px; margin-top:4px;">
    <div style="">Annotations
        {{#if show_all}}
            <span class="annotations-count-icon">{{resource.comms.length}}</span>
        {{else}}
            {{#em-modal-toggler class="show-all-button" modal-id=nameID}}
                <span class="annotations-count-icon">{{resource.comms.length}}</span>Show All
            {{/em-modal-toggler}}
        {{/if}}
    </div>
</div>

{{#em-modal configName="bs" id=nameID}}
    {{#em-modal-body}}
        <div class="">
            <h3 class="modal-header" >
                Annotations
                <span class="glyphicon glyphicon-comment"></span>
            </h3>
        </div>
        <div class="pre-scrollable">
            {{#each resource.comms as |message|}}
                <div class="">
                    <div class="">
                        {{#if message.isMe}}
                            You
                        {{else}}
                            {{message.src_user_name_first}}
                        {{/if}}
                        <span class="annotation-timestamp">
                            {{message.timestamp_formatted}}
                        </span>
                    </div>
                    <div class="annotation-content" style="word-wrap: break-word;">
                        {{message.content}}
                        {{!Delete should only be available to user who creates it}}
                        {{#if message.isMe}}
                            <button {{action 'destroyMessage' message target='view'}} style="color:red; float: right"
                                                                                      class="glyphicon glyphicon-remove nobackground">
                            </button>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="">
            {{action-textarea enter="createMessage" value=textAreaValue aria-controls="existing-user-table" placeholder="Add annotation" autofocus="autofocus"
            autoresize=true classNames="form-control"}}
        </div>
        {{#em-modal-toggler class="btn btn-default"}}Close{{/em-modal-toggler}}
    {{/em-modal-body}}
{{/em-modal}}

{{#each resource.comms as |message|}}
    {{#if (or message.unreadOrNew show_all)}}
        <div class="">
            <div class="">
                {{#if message.isMe}}
                    You
                {{else}}
                    {{message.src_user_name_first}}
                {{/if}}
                <span class="annotation-timestamp">
                    {{message.timestamp_formatted}}
                </span>
            </div>
            <div class="annotation-content" style="word-wrap: break-word;">
                {{message.content}}
                {{!Delete should only be available to user who creates it}}
                {{#if message.isMe}}
                    <button {{action 'destroyMessage' message target='view'}} style="color:red; float: right"
                                                                              class="glyphicon glyphicon-remove nobackground">
                    </button>
                {{/if}}
            </div>
        </div>
    {{/if}}
{{/each}}
<div>
    {{action-textarea enter="createMessage" value=textAreaValue aria-controls="existing-user-table"
    placeholder="Add annotation" autofocus="autofocus" autoresize=true classNames="form-control"}}
</div>
