{{#if isEditing}} 
    {{#if isExpanded}}
      <div class="btn-group open">
        <button type="button" data-toggle="dropdown" {{action 'toggleExpanded'}} class="btn btn-default dropdown-toggle" 
  		      aria-expanded="true">{{attribute}} &nbsp;<span class="caret"></span>
        </button>
        <div role="menu" class="dropdown-menu">
          {{#each choice in finalChoices}}
              <li><a data-switch-set="onColor" {{action 'setChoice' choice element}} 
  				data-switch-value={{choice}}>{{choice}}</a></li>
          {{/each}}
        </div>
      </div>
    {{else}}
      <div class="btn-group">
        <button type="button" data-toggle="dropdown" {{action 'toggleExpanded'}} class="btn btn-default dropdown-toggle" 
  		    aria-expanded="false">{{attribute}} &nbsp;<span class="caret"></span>
        </button>
      </div>
    {{/if}}
    
	  <button class='ion-close' {{action 'cancel'}}/>
    <button class='ion-checkmark' {{action 'saveItem'}}/>
{{else}}
	{{#if (not attribute)}}
		<button class='ion-plus' {{action 'editItem'}}> Add {{name}}</button> 
	{{else}}
		<div class="panel panel-default" style="outline: 1px solid black" 
			{{action 'editItem' on='doubleClick'}}>
		{{attribute}}
		</div> 
	{{/if}}
{{/if}}