{{!--
Copyright 2016 The MITRE Corporation, All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this work except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}

{{#if inline}}
    {{#if showTime}}
        {{#bs-datetimepicker date=datePassthrough showToday=false pickTime=showTime format='L hh:mm:ss a' forceDateOutput=true}}
            {{input class='form-control' value=datePassthrough autofocus="autofocus"}}
        {{!--{{#if (gt calculatedPatch.length 0)}}
            <div style='background-color:#dddddd'>
                {{{calculatedPatch}}}
                <button class='glyphicon glyphicon-remove' {{action 'cancel'}}/>
            </div>
        {{/if}}--}}
        {{/bs-datetimepicker}}
    {{else}}
        {{#bs-datetimepicker date=datePassthrough showToday=false pickTime=showTime format='L' forceDateOutput=true}}
            {{input class='form-control' value=datePassthrough autofocus="autofocus"}}
        {{!--{{#if (gt calculatedPatch.length 0)}}
          <div style='background-color:#dddddd'>
              {{{calculatedPatch}}}
              <button class='glyphicon glyphicon-remove' {{action 'cancel'}}/>
          </div>
      {{/if}}--}}
        {{/bs-datetimepicker}}
    {{/if}}
{{else}}
    {{#em-modal configName="bs" id=nameID on-hide='on-hide'}}
        {{#em-modal-body}}
            {{#if showTime}}
                {{#bs-datetimepicker date=datePassthrough showToday=false pickTime=showTime format='L hh:mm:ss a' noIcon=true forceDateOutput=true sideBySide=true inline=true}}
                    {{input class='form-control' value=datePassthrough}}
                {{/bs-datetimepicker}}
            {{else}}
                {{#bs-datetimepicker date=datePassthrough showToday=false pickTime=showTime format='L' noIcon=true forceDateOutput=true sideBySide=true inline=true}}
                    {{input class='form-control' value=datePassthrough}}
                {{/bs-datetimepicker}}
            {{/if}}
        {{/em-modal-body}}
    {{/em-modal}}
    {{!--{{#if (gt calculatedPatch.length 0)}}
        <div style='background-color:#dddddd'>
            {{{calculatedPatch}}}
            <button class='glyphicon glyphicon-remove' {{action 'cancel'}}/>
        </div>
    {{else}}--}}
    {{#if datePassthrough }}
        {{datePassthrough}}
    {{else}}
        --/--/----
        {{#if showTime }} --:-- -- {{/if}}
    {{/if}}
    {{!--{{/if}}--}}
    {{em-modal-toggler modal-id=nameID class="glyphicon glyphicon-calendar nobackground"}}
{{/if}}
