<div class="panel panel-info"
    {{action "hoverOn" on="mouseEnter"}}
    {{action "hoverOff" on="mouseLeave"}}
     style="{{if currentHover 'background-color:#6CE058'}}{{if root.highlight 'background-color:#C9FCC0'}}">
    {{#if expanded}}
        {{yield "expanded"}}
		{{#if root}}
			<button class="glyphicon glyphicon-floppy-save" {{action 'saveRecord'}}/>
			<div class="glyphicon glyphicon-trash" {{action 'deleteRecord'}}></div>
		{{/if}}
        <div style="float:right;" {{action 'toggleExpanded'}}> Less</div>
    {{else}}
        {{yield "contracted"}}
    {{/if}}
    {{#if currentHover}}
        {{#unless expanded}}
            <div style="float:right;" {{action 'toggleExpanded'}}> ...</div>
        {{/unless}}
    {{/if}}
</div>
