{{#if isEditing}} 
	{{input value=attribute insert-newline='saveItem' autofocus="autofocus"}}
	<button class='ion-close' {{action 'cancel'}}/>
    <button class='ion-checkmark' {{action 'saveItem'}}/>
{{else}}
	{{#if (not attribute)}}
		<button class='ion-plus' {{action 'editItem'}}> Add {{name}}</button> 
	{{else}}
		<div class="panel panel-default" style="outline: 1px solid black" 
			{{action 'editItem' on='doubleClick'}}>
		{{attribute}}
		</div> 
	{{/if}}
{{/if}}
