{{#if isEditing}} 
	{{input value=attribute insert-newline='saveItem' autofocus="autofocus"}}
	<button class='ion-close' {{action 'cancel'}}/>
    <button class='ion-checkmark' {{action 'saveItem'}}/>
{{else}}
	{{#if (not attribute)}}
		<div class="panel panel-default" {{action 'editItem' on='doubleClick'}}>
			Add {{name}}...
		</div> 
	{{else}}
		<div class="panel panel-default" {{action 'editItem' on='doubleClick'}}>
			{{attribute}}
		</div> 
	{{/if}}
{{/if}}
