<div>
    <div class="panel panel-info" style={{computedStyle}}
        {{action "hoverOn" on="mouseEnter"}}
        {{action "hoverOff" on="mouseLeave"}}
        {{action 'expand' on="doubleClick"}}>
        {{#if isExpanded}}
            {{#if isWorkspace}}
                    <span class="resource-type-square"> {{displayLetter}}</span>
            {{/if}}
            {{yield}}


            <div style="float:left; padding-bottom:2px">
                {{!-- <div class="glyphicon glyphicon-resize-small expand-ellipsis"  {{action 'toggleExpanded'}}> </div> --}}
                <div class="expand-ellipsis"  {{action 'toggleExpanded'}}> 
                    {{inline-svg "images/up_collapse_icon.svg"}}
                </div>
                {{!-- New element or existing element --}}
                {{#if (not isNomination)}}
                    {{#if isAdmin}}
                        <button class="nomination-button" {{action 'saveRecord'}}>Sign</button>
                    {{else}}
                        <button class="nomination-button" {{action 'saveRecord'}}>Save</button>
                    {{/if}}
                    {{#if root.isNewRecord}}
                        <button class="nomination-button" {{action 'deleteRecord'}}>Cancel</button>
                    {{else if root.isUnclean}}
                        <button class="nomination-button" {{action 'undoRecord'}}>Undo</button>
                    {{/if}}
                {{/if }}

                {{!-- Element with nomination(s) --}}
                {{#if isCreateNomination}}
                    {{#if isAdmin}}
                        <button class="nomination-button" {{action 'saveRecord'}}>Sign</button>
                        <button class="nomination-button" {{action 'deleteRecord'}}>Reject</button>
                    {{else}}
                        <button class="nomination-button" {{action 'saveRecord'}}>Save</button>
                        <button class="nomination-button" {{action 'deleteRecord'}}>Cancel</button>
                    {{/if}}
                {{/if}}
                {{#if isChangeNomination}}
                    {{#if isAdmin}}
                        <button class="nomination-button" {{action 'saveRecord'}}>Sign</button>
                        {{#if root.isUnclean}}
                            <button class="nomination-button" {{action 'undoRecord'}}>Reset</button>
                        {{/if}}
                    {{else}}
                        <button class="nomination-button" {{action 'saveRecord'}}>Save</button>
                    {{/if}}
                {{/if}}
                {{#if isDeleteNomination}}
                    {{#if isAdmin}}
                        <button class="nomination-button" {{action 'acceptDeletion'}}>Sign</button>
                        <button class="nomination-button" {{action 'rejectDeletion'}}>Reject</button>
                    {{else}}
                        <button class="nomination-button" {{action 'rejectDeletion'}}>Cancel</button>
                    {{/if}}
                {{/if}}

            </div>

            {{#unless isWorkspace}}
                <span class="glyphicon glyphicon-trash element-delete" {{action 'deleteRecord'}}> </span>
            {{/unless}}
        {{else}}
            <div style="float:left;padding-bottom:2px; padding-right: 15px">
                {{#if isWorkspace}}
                    <span class="resource-type-square"> {{displayLetter}}{{!root._internalModel.modelName.[0]}}</span>
                {{/if}}

                {{yield "contracted"}}

                {{!-- Home Health buttons for collapsed elements --}}
                {{#if (and (not isAdmin) isCreateNomination)}}
                    <div>
                        <button class="nomination-button" {{action 'deleteRecord'}}>Cancel</button>
                    </div>
                {{/if}}
                {{#if (and (not isAdmin) isDeleteNomination)}}
                    <div>
                        <button class="nomination-button" {{action 'rejectDeletion'}}>Cancel</button>
                    </div>
                {{/if}}

                {{!-- Physician buttons for collapsed elements --}}
                {{#if (and isAdmin isCreateNomination)}}
                    <div>
                        <button class="nomination-button" {{action 'saveRecord'}}>Sign</button>
                        <button class="nomination-button" {{action 'deleteRecord'}}>Reject</button>
                    </div>
                {{/if}}
                {{#if (and isAdmin isDeleteNomination)}}
                    <div>
                        <button class="nomination-button" {{action 'acceptDeletion'}}>Sign</button>
                        <button class="nomination-button" {{action 'rejectDeletion'}}>Reject</button>
                    </div>
                {{/if}}

            </div>
            {{!#if currentHover}}
                <div class="expand-ellipsis"  {{action 'toggleExpanded'}}> 
                    {{inline-svg "images/down_collapse_icon.svg"}}
                </div>
            {{!/if}}

        {{/if}}

        {{#if isDeleteNomination}}
            <div class="deleted-overlay"></div>
        {{/if}}
    </div>
    <div class="careplan-notification">
        {{#if (or isCreateNomination root.isNewRecord)}}
            <span class="careplan-notification-badge"> New</span>
        {{/if}}
        {{#if isChangeNomination}}
            <span class="careplan-notification-badge"> Change</span>
        {{/if}}
        {{#if isDeleteNomination}}
            <span class="careplan-notification-badge orange-badge"> Deleted</span>
        {{/if}}
        {{#if (gt root.unreadCount 0)}}
            <span class="icon-comment"> {{root.unreadCount}}</span>
        {{/if}}
        {{#if root.isUnclean}}
            <span class="careplan-notification-badge red-badge">Unsaved Changes</span>
        {{/if}}
    </div>
</div>
