{{#if inline}}
    {{#if showTime}}
        {{#bs-datetimepicker date=passthrough showToday=false pickTime=showTime format='YYYY-MM-DDTHH:mm:ss' forceDateOutput=true }}
            {{input class='form-control' value=datePassthrough autofocus="autofocus"}}
            {{!--{{#if (gt calculatedPatch.length 0)}}
                <div style='background-color:#dddddd'>
                    {{{calculatedPatch}}}
                    <button class='glyphicon glyphicon-remove' {{action 'cancel'}}/>
                </div>
            {{/if}}--}}
        {{/bs-datetimepicker}}
    {{else}}
        {{#bs-datetimepicker date=passthrough showToday=false pickTime=showTime format='YYYY-MM-DD' forceDateOutput=true }}
            {{input class='form-control' value=datePassthrough autofocus="autofocus"}}
              {{!--{{#if (gt calculatedPatch.length 0)}}  {{#if (gt calculatedPatch.length 0)}}
                <div style='background-color:#dddddd'>
                    {{{calculatedPatch}}}
                    <button class='glyphicon glyphicon-remove' {{action 'cancel'}}/>
                </div>
            {{/if}}--}}
        {{/bs-datetimepicker}}
    {{/if}}
{{else}}
    {{#em-modal configName="bs" id=name}}
        {{#em-modal-body}}
            {{#if showTime}}
                {{#bs-datetimepicker date=passthrough showToday=false pickTime=showTime format='YYYY-MM-DDTHH:mm:ss' noIcon=true forceDateOutput=true sideBySide=true}}
                    {{input class='form-control' value=datePassthrough autofocus="autofocus"}}
                {{/bs-datetimepicker}}
            {{else}}
                {{#bs-datetimepicker date=passthrough showToday=false pickTime=showTime format='YYYY-MM-DD' noIcon=true forceDateOutput=true sideBySide=true}}
                    {{input class='form-control' value=datePassthrough autofocus="autofocus"}}
                {{/bs-datetimepicker}}
            {{/if}}
            {{#em-modal-toggler class="btn btn-default"}}Close{{/em-modal-toggler}}
        {{/em-modal-body}}
    {{/em-modal}}
    {{!--{{#if (gt calculatedPatch.length 0)}}
        <div style='background-color:#dddddd'>
            {{{calculatedPatch}}}
            <button class='glyphicon glyphicon-remove' {{action 'cancel'}}/>
        </div>
    {{else}}--}}
        {{passthrough}}
    {{!--{{/if}}--}}
    {{em-modal-toggler modal-id=name class="glyphicon glyphicon-calendar"}}
{{/if}}
