{{!--
Copyright 2016 The MITRE Corporation, All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this work except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}

{{#backbone-element parent=parent name=name type='timing'}}
    {{#backbone-element parent=child name='repeat' type='timing-repeat-component'}}
        {{#em-modal configName="bs" id=nameID}}
            {{#em-modal-body}}
                Short Code: <b>{{child.repeat.displayCode}}</b><br><br>
                <div>
                    Frequency:
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{fhir-edit parent=child.repeat name='frequency' isNumber='integer'}}
                    </div>
                    <div class="col-xs-2" style="text-align:center;">
                        to
                    </div>
                    <div class="col-xs-4">
                        {{fhir-edit parent=child.repeat name='frequencyMax' isNumber='integer'}}
                    </div>
                </div>
                <div>
                    Period:
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{fhir-edit parent=child.repeat name='period' isNumber='decimal'}}
                    </div>
                    <div class="col-xs-2" style="text-align:center;">
                        to
                    </div>
                    <div class="col-xs-4">
                        {{fhir-edit parent=child.repeat name='periodMax' isNumber='decimal'}}
                    </div>
                    <div class="col-xs-2">
                        {{fhir-choice parent=child.repeat name='periodUnits' choices='s,min,h,d,wk,mo,a' prompt='Unit'}}
                    </div>
                </div>
                <div>
                    Duration:
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{fhir-edit parent=child.repeat name='duration' isNumber='decimal'}}
                    </div>
                    <div class="col-xs-2" style="text-align:center;">
                        to
                    </div>
                    <div class="col-xs-4">
                        {{fhir-edit parent=child.repeat name='durationMax' isNumber='decimal'}}
                    </div>
                    <div class="col-xs-2">
                        {{fhir-choice parent=child.repeat name='durationUnits' choices='s,min,h,d,wk,mo,a' prompt='Unit'}}
                    </div>
                </div>
                Repeat:
                <div class="row">
                    <div class="col-xs-10">
                        {{fhir-edit parent=child.repeat name='count' isNumber='integer'}}
                    </div>
                    <div class="col-xs-2">
                        times
                    </div>
                </div>
                Start date: {{fhir-datetime parent=child name='event' inline=true isArray=true}}
                {{#em-modal-toggler class="btn btn-default"}}Close{{/em-modal-toggler}}
            {{/em-modal-body}}
        {{/em-modal}}
        {{em-modal-toggler modal-id=nameID class="glyphicon glyphicon-time"}}
    {{/backbone-element}}
{{/backbone-element}}
