<div class="panel panel-info"
    {{action "hoverOn" on="mouseEnter"}}
    {{action "hoverOff" on="mouseLeave"}}
	{{action 'expand' on="doubleClick"}}
     style="{{if currentHover 'border-color:#009e0f;'}}
     {{if root.highlight 'border-color:#009e0f;border-style: dashed;'}} overflow:auto;">
    {{#if expanded}}
        {{yield "expanded"}}
        {{#if root}}
            <div style="float:left;" >
            <button class="glyphicon glyphicon-floppy-save" {{action 'saveRecord'}}/>
            <button class="glyphicon glyphicon-trash" {{action 'deleteRecord'}}/>
            </div>
        {{/if}}
        <div style="float:right;" {{action 'toggleExpanded'}}> Less</div>
    {{else}}
        {{yield "contracted"}}
    {{/if}}
    {{#if currentHover}}
        {{#unless expanded}}
            <div style="float:right;" {{action 'toggleExpanded'}}> ...</div>
        {{/unless}}
    {{/if}}
</div>
