<div class="panel panel-info" {{action "toggleHover" on="mouseEnter"}}  >
    <div {{action "toggleHover" on="mouseLeave"}}>
        {{#if expanded}}
            {{yield "expanded"}}
            <div style="float:right;" {{action 'toggleExpanded'}}> Less</div>
        {{else}}
            {{yield "contracted"}}
        {{/if}}
        {{#if currentHover}}
            {{#if expanded}}{{else}}
                <div style="float:right;" {{action 'toggleExpanded'}}> ...</div>
            {{/if}}
        {{/if}}
        <button class='ion-ios-plus' {{action 'updateArray' parent name type}}> New item</button>
    </div>
</div>
