<select class="form-control" onchange={{action 'changed' value='target.value'}}>
    <option value="none">--Please select--</option>
    {{#each options as |op|}}
        <option value='{{op._internalModel.modelName}}/{{op.id}}' selected={{eq op current}}>
            <div>
                {{op.code.text}}
            </div>
        </option>
    {{/each}}
</select>