{{#if (not attribute)}}
  {{name}}:
  {{#if isEditing}} 
    {{input type='text' value=attribute insert-newline='saveItem' autofocus="autofocus"}}
    <button class='ion-close' {{action 'cancel'}}/>
    <button class='ion-checkmark' {{action 'saveItem' attribute}}/>
    <button class='ion-trash-b' {{action 'removeItem'}}/>
  {{else}}
    <button class='ion-plus' {{action 'editItem' element attribute name}}> Add {{name}}</button> 
  {{/if}}
{{else}}
  {{name}}:
  {{#if isEditing}} 
    {{input type='text' value=attribute insert-newline='saveItem' autofocus="autofocus"}}
    <button class='ion-close' {{action 'cancel'}}/>
    <button class='ion-checkmark' {{action 'saveItem' attribute}}/>
    <button class='ion-trash-b' {{action 'removeItem'}}/>
  {{else}}
    <u {{action 'editItem' goal on='doubleClick'}}>{{attribute}}</u> 
    <button class='ion-edit' {{action 'editItem' element attribute name}}/>
  {{/if}} 
{{/if}}
