{{#if isEditing}}
	<div class="btn-group" data-toggle="buttons">
	     {{input type='checkbox' checked=attribute}} {{attribute}}
	</div>
{{else}}
    <div class="panel panel-default" style="opacity:0.7" {{action 'editItem' on='doubleClick'}}>
        {{attribute}}
    </div>
{{/if}}