{{#if inline}}
    {{#if showTime}}
        {{#bs-datetimepicker date=datePassthrough showToday=false pickTime=showTime format='L hh:mm:ss a' forceDateOutput=true}}
            {{input class='form-control' value=datePassthrough autofocus="autofocus"}}
        {{!--{{#if (gt calculatedPatch.length 0)}}
            <div style='background-color:#dddddd'>
                {{{calculatedPatch}}}
                <button class='glyphicon glyphicon-remove' {{action 'cancel'}}/>
            </div>
        {{/if}}--}}
        {{/bs-datetimepicker}}
    {{else}}
        {{#bs-datetimepicker date=datePassthrough showToday=false pickTime=showTime format='L' forceDateOutput=true}}
            {{input class='form-control' value=datePassthrough autofocus="autofocus"}}
        {{!--{{#if (gt calculatedPatch.length 0)}}
          <div style='background-color:#dddddd'>
              {{{calculatedPatch}}}
              <button class='glyphicon glyphicon-remove' {{action 'cancel'}}/>
          </div>
      {{/if}}--}}
        {{/bs-datetimepicker}}
    {{/if}}
{{else}}
    {{#em-modal configName="bs" id=nameID on-hide='on-hide'}}
        {{#em-modal-body}}
            {{#if showTime}}
                {{#bs-datetimepicker date=datePassthrough showToday=false pickTime=showTime format='L hh:mm:ss a' noIcon=true forceDateOutput=true sideBySide=true inline=true}}
                    {{input class='form-control' value=datePassthrough}}
                {{/bs-datetimepicker}}
            {{else}}
                {{#bs-datetimepicker date=datePassthrough showToday=false pickTime=showTime format='L' noIcon=true forceDateOutput=true sideBySide=true inline=true}}
                    {{input class='form-control' value=datePassthrough}}
                {{/bs-datetimepicker}}
            {{/if}}
        {{/em-modal-body}}
    {{/em-modal}}
    {{!--{{#if (gt calculatedPatch.length 0)}}
        <div style='background-color:#dddddd'>
            {{{calculatedPatch}}}
            <button class='glyphicon glyphicon-remove' {{action 'cancel'}}/>
        </div>
    {{else}}--}}
    {{#if datePassthrough }}
        {{datePassthrough}}
    {{else}}
        {{emptyPlaceholder}}
    {{/if}}
    {{!--{{/if}}--}}
    {{em-modal-toggler modal-id=nameID class="glyphicon glyphicon-calendar nobackground"}}
{{/if}}
