{{#if isEditing}}
    {{input value=attribute insert-newline='saveItem' autofocus="autofocus"}}
    <span class='ion-close' {{action 'cancel'}}/>
{{else}}
    <div class="panel panel-default" style="opacity:0.7" {{action 'editItem' on='doubleClick'}}>
        {{#if (not attribute)}}
            Add {{name}}...
        {{else}}
            {{attribute}}
        {{/if}}
    </div>
{{/if}}
