{{!--
Copyright 2016 The MITRE Corporation, All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this work except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}

<div class="row">
    {{#if relations}}
        <div class="col-xs-6"> Related {{label}}:</div>
    {{else}}
        <div class="has-tooltip col-xs-6">
            <span style="padding: 2px"> No Related {{label}} </span>
            <span class="tooltiptext">Add relation by dragging related {{label}} or select {{label}} from adjacent list</span>
        </div>
    {{/if}}

    <div class="btn-group col-xs-6" style="padding: 3px">
        {{#x-select action="createRelation"}}
            {{#x-option value=op.[0]}}Relate {{label}}{{/x-option}}
            {{#each possibleChoices as |op|}}
                {{#x-option value=op}}{{op.displayText}}{{/x-option}}
            {{/each}}
        {{/x-select}}
    </div>
</div>

<div>
    <ul class="relatedList">
        {{#each relations as |selection|}}
                <li {{action 'selected' selection on='doubleClick'}}>
                    <div>
                    {{selection.displayText}}
                    <button class="glyphicon glyphicon-remove nobackground" {{action 'deleteReference' parent selection}}/>
                    </div>
                </li>
        {{/each}}
    </ul>
    <div style="clear:left;"></div>
</div>
