<div> Related {{label}}:</div>
<div>
    <ul class="relatedList">
        {{#each relations as |selection|}}
            <li {{action 'selected' selection on='doubleClick'}}>
                <div>
                    {{selection.displayText}}
                    <button class="glyphicon glyphicon-remove nobackground" {{action 'deleteReference' parent selection}}></button>
                </div>
            </li>
        {{else}}
            <li>
                No Related {{label}}
            </li>
        {{/each}}
        {{#if refresh}}
        {{!--{{#if (not-eq possibleChoices.length 0)}}--}}
          <li>
              <div class="btn-group">
                {{!--<div style="color:green" class="glyphicon glyphicon-plus"/>--}}
                <div style="color:black">
                  {{#x-select action="createRelation"}}
                    {{#x-option value=op.[0]}}--Select one--{{/x-option}}
                    {{#each possibleChoices as |op|}}
                        {{#x-option value=op}}{{op.displayText}}{{/x-option}}
                    {{/each}}
                  {{/x-select}}
                </div>
              </div>
            </li>
        {{!--{{/if}}--}}
        {{/if}}
        {{textarea action="createRecordAndRelate" value=textAreaValue aria-controls="existing-user-table" placeholder="Create and relate to new record" autofocus="autofocus"
        autoresize=true classNames="form-control"}}
    </ul>
    <div style="clear:left;"></div>
</div>
