<div> Related {{label}}: </div>
<div>
    <ul class="relatedList">
        {{#each selections as |selection|}}
            <li {{action 'selected' selection on='doubleClick'}}>
                <div>
                    {{selection.display}}
                    <button class ="glyphicon glyphicon-remove" {{action 'deleteReference' parent selection.model}}></button>
                </div>
            </li>
        {{else}}
           No {{label}}
        {{/each}}
        <!-- TODO: add an action to this button
        <li>
            <button style="color:green" class='glyphicon glyphicon-plus'></button>
        </li>
        -->
    </ul>
    <div style="clear:left;"> </div>
</div>