<div> Related {{label}}:</div>
<div>
    <ul class="relatedList">
        {{#each selections as |selection|}}
            <li {{action 'selected' selection on='doubleClick'}}>
                <div>
                    {{selection.display}}
                    <button class="glyphicon glyphicon-remove nobackground" {{action 'deleteReference' parent selection}}></button>
                </div>
            </li>
        {{else}}
            <li>
                No Related {{label}}
            </li>
        {{/each}}
        {{#if refresh}}
        {{#if (not-eq possibleChoices.length 0)}}
          <li>
              <div class="btn-group">
                {{!--<div style="color:green" class="glyphicon glyphicon-plus"/>--}}
                <div style="color:black">
                  {{#x-select action="createRelation"}}
                    {{#x-option value=op.[0]}}--Select one--{{/x-option}}
                    {{#each possibleChoices as |op|}}
                        {{#x-option value=op}}{{op.display}}{{/x-option}}
                    {{/each}}
                  {{/x-select}}
                </div>
              </div>
            </li>
        {{/if}}
        {{/if}}
    </ul>
    <div style="clear:left;"></div>
</div>
