<div> Related {{label}}:</div>
<div>
    <ul class="relatedList">
        {{#each selections as |selection|}}
            <li {{action 'selected' selection on='doubleClick'}}>
                <div>
                    {{selection.display}}
                    <button class="glyphicon glyphicon-remove nobackground" {{action 'deleteReference' parent selection.model}}></button>
                </div>
            </li>
        {{else}}
            <li>
                No Related {{label}}
            </li>
        {{/each}}
        {{#if refresh}}
        <li>
            <div class="btn-group">
              <button type="button" style="color:green"
                class="btn btn-default dropdown-toggle glyphicon glyphicon-plus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
              <ul class="dropdown-menu">
                {{#each possibleChoices as |selection|}}
                  <li {{action 'createRelation' selection}}>{{selection.code.text}}</li>
                {{/each}}
              </ul>
            </div>
        </li>
        {{/if}}
    </ul>
    <div style="clear:left;"></div>
</div>
