<div> Related {{label}}:</div>
<div>
    <ul class="relatedList">
        {{#each relations as |selection|}}
            {{#if (eq selection.isDeleted false)}}
                <li {{action 'selected' selection on='doubleClick'}}>
                    <div>
                    {{selection.displayText}}
                    <button class="glyphicon glyphicon-remove nobackground" {{action 'deleteReference' parent selection}}/>
                    </div>
                </li>
            {{/if}}
        {{else}}
            <li class="has-tooltip">
                No Related {{label}}
                 <span class="tooltiptext">Add relation by dragging related {{label}} or select {{label}} from adjacent list</span>
            </li>
        {{/each}}
        {{!--{{#if (not-eq possibleChoices.length 0)}}--}}
          <li>
              <div class="btn-group">
                {{!--<div style="color:green" class="glyphicon glyphicon-plus"/>--}}
                <div>
                  {{#x-select action="createRelation"}}
                    {{#x-option value=op.[0]}}Relate {{label}}{{/x-option}}
                    {{#each possibleChoices as |op|}}
                        {{#x-option value=op}}{{op.displayText}}{{/x-option}}
                    {{/each}}
                  {{/x-select}}
                </div>
              </div>
            </li>
        {{!--{{/if}}--}}
        {{textarea action="createRecordAndRelate" value=textAreaValue aria-controls="existing-user-table" placeholder="Create and relate to new record" autofocus="autofocus"
        autoresize=true classNames="form-control"}}
    </ul>
    <div style="clear:left;"></div>
</div>
