{{!--
Copyright 2016 The MITRE Corporation, All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this work except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}

<div> Related {{label}}

    <span class="btn-group add-relatedList">
          {{#x-select action="createRelation"}}
            {{#x-option value=op.[0]}}Add {{!label}}{{/x-option}}
            {{#each possibleChoices as |op|}}
                {{#x-option value=op}}{{op.displayText}}{{/x-option}}
            {{/each}}
          {{/x-select}}
    
    </span>
:
</div>
<div>
    <ul class="relatedList">
        {{#each relations as |selection|}}
                <li {{action 'selected' selection on='doubleClick'}}>
                    <div>
                    {{selection.displayText}}
                    <button class="nobackground" {{action 'deleteReference' parent selection}}>
                    {{inline-svg "images/broken-link.svg" class="remove-relation"}}
                    </button>
                    </div>
                </li>
        {{else}}
            <li class="has-tooltip">
                <div style="padding: 2px"> No Related {{label}} </div>
                <span class="tooltiptext">Add relation by dragging related {{label}} or select {{label}} from adjacent list</span>
            </li>
        {{/each}}
        <br>
        {{!--textarea action="createRecordAndRelate" value=textAreaValue aria-controls="existing-user-table" placeholder="Create and relate to new record" autofocus="autofocus"
        autoresize=true classNames="form-control"--}}
    </ul>
    <div style="clear:left;"></div>
</div>
