{{#draggable-object-target action='createRelation' ontoObject=root}}
    {{#draggable-object content=root}}
        <div {{action 'hoverOn' root on='mouseEnter'}} {{action 'hoverOff' root on='mouseLeave'}}>
            {{#fhir-element root=root toHighlight=careplan.toHighlight type='NutritionOrder' as |section|}}
                {{#if root.isExpanded}}
                {{! THIS IS ONLY FOR SUPPLEMENTS TODO: NiceToHave: Create a type handler that can use the other types}}
                    <div class='row'>
                        {{#backbone-element parent=root name='supplement' type='nutrition-order-supplement-component' isArray=true}}
                            <div class='form-group'>
                                <div class='col-xs-12 fhir-form-item'>
                                    <div class='col-xs-12 col-lg-6'>
                                        {{fhir-edit parent=root.supplement.firstObject name='productName'}}
                                        {{#each root.changes.[-supplement-0-productName] as |cr|}}
                                            {{change-request parent=root.supplement.firstObject name='productName' cr=cr}}
                                        {{/each}}
                                    </div>
                                    <div class='col-xs-12 col-lg-6'>
                                        {{fhir-choice parent=root name='status'
                                        choices='proposed,draft,planned,requested,active,on-hold,completed,cancelled'}}
                                        {{#each root.changes.[-status] as |cr|}}
                                            {{change-request parent=root name='status' cr=cr}}
                                        {{/each}}
                                    </div>
                                </div>
                                <div class=' col-xs-12 fhir-form-item'>
                                    <label class='col-sm-5 control-label' for='type'> Type: </label>

                                    <div id='type' class='col-xs-12 col-lg-7'>
                                        {{#codeable-concept parent=root.supplement.firstObject name='type'}}
                                            {{fhir-edit parent=root.supplement.firstObject.type name='text'}}
                                        {{/codeable-concept}}
                                        {{#each root.changes.[-supplement-0-type-text] as |cr|}}
                                            {{change-request parent=root.supplement.firstObject.type name='text' cr=cr}}
                                        {{/each}}

                                    </div>
                                </div>
                                <div class=' col-xs-12 fhir-form-item'>
                                    <label class='col-xs-12 control-label' for='type'> Instruction: </label>

                                    <div id='type' class='col-xs-12'>
                                        {{fhir-edit parent=root.supplement.firstObject name='instruction'}}
                                        {{#each root.changes.[-supplement-0-instruction] as |cr|}}
                                            {{change-request parent=root.supplement.firstObject name='instruction' cr=cr}}
                                        {{/each}}
                                    </div>
                                </div>
                                <div>
                                    Scheduled: {{root.supplement.firstObject.schedule.repeat.displayCode}} {{fhir-timing parent=root.supplement.firstObject name='schedule'}}
                                    <br>
                                    Quantity: {{fhir-simple-quantity parent=root.supplement.firstObject name='quantity'}}
                                    {{!-- TODO: Orderer(Reference(Practitioner)) --}}
                                </div>
                            </div>
                        {{/backbone-element}}
                        Ordered On: {{fhir-datetime parent=root name='dateTime' showTime=true}}
                        {{#each root.changes.[-dateTime] as |cr|}}
                            {{change-request parent=root name='dateTime' cr=cr format='datetime'}}
                        {{/each}}
                        {{related-list parent=root relation='relatedGoals' display='description' label='Goals' lastExpanded=controller.lastExpanded}}
                        {{comm-channel resource=root resource_type='Nutrition'}}
                    </div>
                {{else}}
                    {{root.displayText }} - {{root.status}}
                {{/if}}
            {{/fhir-element}}
        </div>
    {{/draggable-object}}
{{/draggable-object-target}}
