<ul>
  {{#each code in coding}}
     {{#if code.system}}<li>System: {{code.system}}</li>{{/if}}
     {{#if code.version}}<li>Version: {{code.version}}</li>{{/if}}
     {{#if code.code}}<li>Code: {{code.code}}</li>{{/if}}
     {{#if code.display}}<li>Display: {{code.display}}</li>{{/if}}
     {{#if code.primary}}<li>Primary: {{code.primary}}</li>{{/if}}
  {{/each}}
</ul> 
