<div class="tab-pane fade in active">
          <ul class="nav nav-pills nav-stacked">
            <li class="patient-filter" >
              
                <span class="glyphicon glyphicon-heart-empty"></span>
                Participants 
                <span class="glyphicon glyphicon-chevron-down"></span>
              
            </li>
            <li class="patient-filter {{if patient.showProblems 'active'}}" {{action 'toggleShowProblems'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>                  
                  Problems 
                  <span class={{if patient.showProblems 'glyphicon glyphicon-chevron-down' 'glyphicon glyphicon-chevron-right'}}></span>
            </li>
            <li class="patient-filter {{if patient.showGoals 'active'}}" {{action 'toggleShowGoals'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>                  
                  Goals 
                  <span class={{if patient.showGoals 'glyphicon glyphicon-chevron-down' 'glyphicon glyphicon-chevron-right'}}></span>
            </li>
            <li class="patient-filter {{if patient.showInterventions 'active'}}" {{action 'toggleShowInterventions'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>                  
                  Interventions 
                  <span class={{if patient.showInterventions 'glyphicon glyphicon-chevron-down' 'glyphicon glyphicon-chevron-right'}}></span>
            </li>
            <li class="patient-filter {{if patient.showObservations 'active'}}" {{action 'toggleShowObservations'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>                  
                  Observations 
                  <span class={{if patient.showObservations 'glyphicon glyphicon-chevron-down' 'glyphicon glyphicon-chevron-right'}}></span>
            </li>
             <li class="patient-filter {{if patient.showMedications 'active'}}" {{action 'toggleShowMedications'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>                  
                  Medications 
                  <span class={{if patient.showMedications 'glyphicon glyphicon-chevron-down' 'glyphicon glyphicon-chevron-right'}}></span>
            </li>
          </ul>
        </div>