{{!--
Copyright 2016 The MITRE Corporation, All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this work except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}
<div class="tab-pane fade in active">
    <ul class="nav nav-pills nav-stacked">
        <li class="patient-filter">
            <span class="column-toggler"> Services </span>
            <span {{action 'toggleExpandParticipants'}}
                    class="filters-expander {{if expandParticipants 'glyphicon glyphicon-chevron-down' 'glyphicon glyphicon-chevron-right'}}"></span>
            {{#if expandParticipants}}
                <div>
                    <ul>
                        <li>Physical Therapy</li>
                        <li>Skilled Nursing</li>
                    </ul>
                </div>
            {{/if}}
        </li>
        <li class="patient-filter {{if patient.showConditions 'active'}}">
            <span {{action 'toggleShow' 'Condition'}} class="column-toggler"> Problems </span>
            <span {{action 'toggleExpandProblems'}}
                    class="filters-expander {{if expandProblems 'glyphicon glyphicon-chevron-down' 'glyphicon glyphicon-chevron-right'}}"></span>
            {{#if expandProblems}}
                <div>
                    List of Problems here
                </div>
            {{/if}}
        </li>
        <li class="patient-filter {{if patient.showGoals 'active'}}">
            <span {{action 'toggleShow' 'Goal'}} class="column-toggler"> Goals </span>
            <span {{action 'toggleExpandGoals'}}
                    class="filters-expander {{if expandGoals 'glyphicon glyphicon-chevron-down' 'glyphicon glyphicon-chevron-right'}}"></span>
            {{#if expandGoals}}
                <div>
                    List of Goals here
                </div>
            {{/if}}
        </li>
        <li class="patient-filter {{if patient.showProcedureRequests 'active'}}">
            <span {{action 'toggleShow' 'ProcedureRequest'}} class="column-toggler"> Interventions </span>
            <span {{action 'toggleExpandInterventions'}}
                    class="filters-expander {{if expandInterventions 'glyphicon glyphicon-chevron-down' 'glyphicon glyphicon-chevron-right'}}"></span>
            {{#if expandInterventions}}
                <div>
                    List of Interventions here
                </div>
            {{/if}}
        </li>
        <li class="patient-filter {{if patient.showNutritionOrders 'active'}}">
            <span {{action 'toggleShow' 'NutritionOrder'}} class="column-toggler"> Nutrition </span>
            <span {{action 'toggleExpandNutrition'}}
                    class="filters-expander {{if expandNutrition 'glyphicon glyphicon-chevron-down' 'glyphicon glyphicon-chevron-right'}}"></span>
            {{#if expandNutrition}}
                <div>
                    List of Nutrition here
                </div>
            {{/if}}
        </li>
        <li class="patient-filter {{if patient.showMedicationOrders 'active'}}">
            <span {{action 'toggleShow' 'MedicationOrder'}} class="column-toggler"> Medications </span>
            <span {{action 'toggleExpandMedications'}}
                    class="filters-expander {{if expandMedications 'glyphicon glyphicon-chevron-down' 'glyphicon glyphicon-chevron-right'}}"></span>
            {{#if expandMedications}}
                <div>
                    List of Medications here
                </div>
            {{/if}}
        </li>
    </ul>
</div>