<div class="row">
    <div class="col-md-2 patientSidebar">
        <div class="panel panel-default patient-sidebar">
            <div class="panel-heading careplan-patient" >
                <div class="row panel careplan-patient">
                    <div class="col-md-4">
                        <span class="glyphicon glyphicon-user" style="font-size: 5em;"></span>
                    </div>
                    <div class="col-md-8">
                        {{patient.model.fullName}}
                        <br/>

                        <div style="padding: 0">{{patient.model.genderFormatted}}
                            <br/>{{patient.model.birthDateFormatted}}
                        </div>
                    </div>
                </div>

                <div class="panel careplan-patient" style="text-align: center">
                    <div>
                        Careplan ID: {{model.id}}
                    </div>
                    <div>
                        Status: ({{model.status}})
                    </div>
                    <div>
                        {{#if statusIsDraft}}
                            <button class="btn btn-default" {{action "setStatus" "referred"}}>Sign Careplan
                            </button> {{/if}}
                        {{#if statusIsReferred}}
                            <button class="btn btn-default"
                                    style="margin-bottom: 5px;" {{action "setStatus" "proposed"}}>Submit Careplan
                            </button> {{/if}}
                        {{#if statusIsProposed}}
                            <button class="btn btn-default" {{action "setStatus" "active"}}>Certify Careplan
                            </button> {{/if}}
                    </div>
                </div>
                
            </div>
            <div class="panel-body patient-sidebar" >
                <!-- Tab Content -->
                <div class="tab-content" style="padding: 0">
                    <ul class="nav nav-pills">
                        {{#link-to 'careplan.filters'  tagName='li' href=false }}
                            {{#link-to 'careplan.filters'}}Filter{{/link-to}}
                        {{/link-to}}
                        {{#link-to 'careplan.notes'  tagName='li' href=false }}
                            {{#link-to 'careplan.notes'}}Notes{{/link-to}}
                        {{/link-to}}
                        {{#link-to 'careplan.history'  tagName='li' href=false }}
                            {{#link-to 'careplan.history'}}History{{/link-to}}
                        {{/link-to}}
                        {{#link-to 'careplan.requests'  tagName='li' href=false }}
                            {{#link-to 'careplan.requests'}}Requests{{/link-to}}
                        {{/link-to}}
                    </ul>
                    {{outlet}}
                </div>
                {{render 'workspace'}}
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="fhir-columns col-md-10">
        <!--<div class="alert alert-warning" role="alert" style="background-color: rgb(255,211,156)">
        Other practitioners have requested changes to this plan's...
        <button>Accept All</button>
        <button>Reject All</button>
        </div>-->
        <div class="row" style="height:95%">
            {{#if showConditions}}
                <div class="{{colClass}} well fhir-column-wrapper">
                    {{render "problems" conditions}}
                </div>
            {{/if}}
            {{#if showGoals}}
                <div class="{{colClass}} well fhir-column-wrapper">
                    {{render "goals" goals}}
                </div>
            {{/if}}
            {{#if showProcedureRequests}}
                <div class="{{colClass}} well fhir-column-wrapper">
                    {{render "interventions" procedureRequests}}
                </div>
            {{/if}}
            {{#if showNutritionOrders}}
                <div class="{{colClass}} well fhir-column-wrapper">
                    {{render "nutrition" nutritionOrders}}
                </div>
            {{/if}}
            {{#if showMedicationOrders}}
                <div class="{{colClass}} well fhir-column-wrapper">
                    {{render "medications" medicationOrders}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
