{{!--
Copyright 2016 The MITRE Corporation, All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this work except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}

<div class="row">
    <div class="col-md-2 patientSidebar">
        <div class="panel panel-default patient-sidebar">
            <div class="panel-heading careplan-patient" >
                <div class="row panel careplan-patient">
                    <div class="col-md-4">
                        <div class="lol notglyphicon notglyphicon-user" style="font-size: 4.5em;"> </div>
                        <div class="careplan-status">{{model.status}}</div>
                    </div>
                    <div class="col-md-8">
                        {{patient.model.fullName}}
                        <br/>

                        <div style="padding: 0">
                            {{patient.model.genderFormatted}}
                            <br/>{{patient.model.birthDateOnlyFormatted}}
                            <br/>{{patient.model.ageFormatted}}
                        </div>
                    </div>
                </div>

                <div class="panel careplan-patient">
                    <div style="padding-left:15px;">
                        Careplan ID: <span style="font-weight: normal; font-size:14px">{{model.id}}</span>
                    </div>
                    <div>
                        {{#if statusIsDraft}}
                            <button class="btn btn-default" {{action "setStatus" "referred"}}>Sign Careplan
                            </button> {{/if}}
                        {{#if statusIsReferred}}
                            <button class="btn btn-default"
                                    style="margin-bottom: 5px;" {{action "setStatus" "proposed"}}>Submit Careplan
                            </button> {{/if}}
                        {{#if statusIsProposed}}
                            <button class="btn btn-default" {{action "setStatus" "active"}}>Certify Careplan
                            </button> {{/if}}
                    </div>
                </div>
            </div>
            <div class="panel-body patient-sidebar" >
                <button class="btn btn-default" {{action "toggleSplitScreen"}}>
                    Toggle Workspace
                 </button>
                <!-- Tab Content -->
                <div class="tab-content patient-info-wrapper" style="padding: 0">
                    <ul class="nav nav-pills">
                        {{#link-to 'careplan.filters'  tagName='li' href=false }}
                            {{#link-to 'careplan.filters'}}Filter{{/link-to}}
                        {{/link-to}}
                        {{#link-to 'careplan.notes'  tagName='li' href=false }}
                            {{#link-to 'careplan.notes'}}Notes{{/link-to}}
                        {{/link-to}}
                        {{#link-to 'careplan.history'  tagName='li' href=false }}
                            {{#link-to 'careplan.history'}}History{{/link-to}}
                        {{/link-to}}
                        {{#link-to 'careplan.requests'  tagName='li' href=false }}
                            {{#link-to 'careplan.requests'}}Requests{{/link-to}}
                        {{/link-to}}
                        {{#link-to 'careplan.patient-info' tagName='li' href=false }}
                            {{#link-to 'careplan.patient-info'}}Patient Info{{/link-to}}
                        {{/link-to}}
                    </ul>
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="fhir-columns col-md-10">
        <!--<div class="alert alert-warning" role="alert" style="background-color: rgb(255,211,156)">
        Other practitioners have requested changes to this plan's...
        <button>Accept All</button>
        <button>Reject All</button>
        </div>-->
        {{#if showSplitScreen}}
            {{#happy-split-container isVertical=false}}
                {{#happy-split-view splitPercentage=topSplit}}
                    <div class="row" style="height:100%;overflow-y:hidden">
                        {{#if showConditions}}
                            <div class="{{colClass}} well fhir-column-wrapper">
                                {{render "problems" conditions}}
                            </div>
                        {{/if}}
                        {{#if showGoals}}
                            <div class="{{colClass}} well fhir-column-wrapper">
                                {{render "goals" goals}}
                            </div>
                        {{/if}}
                        {{#if showProcedureRequests}}
                            <div class="{{colClass}} well fhir-column-wrapper">
                                {{render "interventions" procedureRequests}}
                            </div>
                        {{/if}}
                        {{#if showNutritionOrders}}
                            <div class="{{colClass}} well fhir-column-wrapper">
                                {{render "nutrition" nutritionOrders}}
                            </div>
                        {{/if}}
                        {{#if showMedicationOrders}}
                            <div class="{{colClass}} well fhir-column-wrapper">
                                {{render "medications" medicationOrders}}
                            </div>
                        {{/if}}
                    </div>
                 {{/happy-split-view}}
                 {{happy-splitter-bar}}
                 {{#happy-split-view splitPercentage=botSplit}}
                     <div style="height:100%;overflow-y:auto">
                          {{render "workspace"}}
                     </div>
                 {{/happy-split-view}}
             {{/happy-split-container}}
         {{else}}
                    <div class="row" style="height:100%;overflow-y:hidden">
                        {{#if showConditions}}
                            <div class="{{colClass}} well fhir-column-wrapper">
                                {{render "problems" conditions}}
                            </div>
                        {{/if}}
                        {{#if showGoals}}
                            <div class="{{colClass}} well fhir-column-wrapper">
                                {{render "goals" goals}}
                            </div>
                        {{/if}}
                        {{#if showProcedureRequests}}
                            <div class="{{colClass}} well fhir-column-wrapper">
                                {{render "interventions" procedureRequests}}
                            </div>
                        {{/if}}
                        {{#if showNutritionOrders}}
                            <div class="{{colClass}} well fhir-column-wrapper">
                                {{render "nutrition" nutritionOrders}}
                            </div>
                        {{/if}}
                        {{#if showMedicationOrders}}
                            <div class="{{colClass}} well fhir-column-wrapper">
                                {{render "medications" medicationOrders}}
                            </div>
                        {{/if}}
                    </div>
        {{/if}}
    </div>
</div>
