<div class="tab-pane fade in active">  
          <ul class="nav nav-pills nav-stacked">
            <li>
              <a href="" style="color: black">
                <span class="glyphicon glyphicon-heart-empty"></span>
                Participants 
                <span class="glyphicon glyphicon-chevron-down"></span>
              </a>
            </li>
            {{#if showProblems}}
              <li class="active">
                <a href="/problems" {{action 'toggleShowProblems'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>
                  Problems 
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </li>
            {{else}}
              <li>
                <a href="/problems" {{action 'toggleShowProblems'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>
                  Problems 
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </li>            
            {{/if}}
            {{#if showGoals}}
              <li class="active">
                <a href="/goals" {{action 'toggleShowGoals'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>
                  Goals 
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </li>
            {{else}}
              <li>
                <a href="/goals" {{action 'toggleShowGoals'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>
                  Goals 
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </li>            
            {{/if}}
            {{#if showInterventions}}
              <li class="active">
                <a href="/interventions" {{action 'toggleShowInterventions'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>
                  Interventions 
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </li>
            {{else}}
              <li>
                <a href="/interventions" {{action 'toggleShowInterventions'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>
                  Interventions 
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </li>            
            {{/if}}
            {{#if showObservations}}
              <li class="active">
                <a href="/observations" {{action 'toggleShowObservations'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>
                  Observations 
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </li>
            {{else}}
              <li>
                <a href="/observations" {{action 'toggleShowObservations'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>
                  Observations 
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </li>            
            {{/if}}
            {{#if showMedications}}
              <li class="active">
                <a href="/medications" {{action 'toggleShowMedications'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>
                  Medications 
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </li>
            {{else}}
              <li>
                <a href="/medications" {{action 'toggleShowMedications'}} style="color: black">
                  <span class="glyphicon glyphicon-heart-empty"></span>
                  Medications 
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </li>            
            {{/if}}
          </ul>
        </div>