<h3 class="fhir-column-header">Goals</h3>
<div id="goals-column" class="panel-group fhir-column">
    {{#each model as |goal|}}
        {{#draggable-object-target action="createRelation" ontoObject=goal}}
            {{#draggable-object content=goal}}
                <div {{action "hoverOn" goal on="mouseEnter"}} {{action "hoverOff" goal on="mouseLeave"}}>
                    {{#fhir-element root=goal type='Goal' as |section|}}
                        {{#if (eq section "expanded")}}
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-12 fhir-form-item">
                                        <div class="col-xs-12 col-lg-6">
                                            {{fhir-edit parent=goal name='description'}}
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            {{fhir-choice parent=goal name='status'
                                            choices='proposed,planned,accepted,rejected,in-progress,achieved,sustaining,on-hold,cancelled'}}
                                        </div>
                                    </div>
                                </div>
                                {{#if (eq goal.status "achieved")}}
                                    <div class=" col-xs-12 fhir-form-item">
                                        <label class="col-sm-5 control-label" for="outcome"> Outcome: </label>

                                        <div id="outcome" class="col-xs-12 col-lg-7">
                                            TODO
                                            {{!--
                                            {{#codeable-concept parent=goal name='outcome'}}
                                                {{fhir-choice parent=goal name='outcome' choices='CHANGEME,CHANGEME'}}
                                            {{/codeable-concept}}
                                            --}}
                                        </div>
                                    </div>
                                {{/if}}
                                <div class=" col-xs-12 fhir-form-item">
                                    <label class="col-sm-5 control-label" for="priority"> Priority: </label>

                                    <div id="priority" class="col-xs-12 col-lg-7">
                                        {{#codeable-concept parent=goal name='priority'}}
                                            {{fhir-choice parent=goal name='priority.text' choices='unspecified,low,medium,high'}}
                                        {{/codeable-concept}}
                                    </div>
                                </div>
                                <!-- TODO: create a "fhir-choice-multi" component so we can support selecting multiple categories
                                <div class=" col-xs-12 fhir-form-item">
                                    <label class="col-sm-5 control-label"  for="category"> Category: </label>
                                    <div id="priority" class="col-xs-12 col-lg-7">
                                    {{#codeable-concept parent=goal name='category'}}
                                        {{fhir-choice parent=goal name='category.text' choices='CHANGEME,CHANGEME'}}
                                    {{/codeable-concept}}
                                    </div>
                                </div-->

                                <div class=" col-xs-12 fhir-form-item">
                                    <label class="col-sm-5 control-label" for="category"> Category: </label>

                                    <div id="priority" class="col-xs-12 col-lg-7">
                                        {{fhir-multi-select parent=goal attribute=goal.category name='text' choices='CHANGEME,CHANGEME'}}

                                    </div>
                                </div>

                                <div class="col-xs-12 fhir-form-item">
                                    <label class="col-sm-5 control-label" for="targetDate">Target Date:</label>

                                    <div id="targetDate" class="col-xs-12 col-lg-7">
                                        {{fhir-datetime parent=goal name='targetDate'}}
                                    </div>
                                </div>
                                {{related-list parent=goal relation='rlConditions' display='code.text' label="Problems"}}
                                {{related-list parent=goal relation='rlProcedureRequests' display='code.text' label="Interventions"}}
                            </div>
                        {{else}}
                            {{goal.description}}
                        {{/if}}
                    {{/fhir-element}}
                </div>
            {{/draggable-object}}
        {{/draggable-object-target}}
    {{else}}
        No Goals<br/>
    {{/each}}

</div>
<button class="nobackground" {{action 'createRecord' 'Goal'}}>
    <span class="glyphicon glyphicon-plus"></span> <strong>Add Goal</strong>
</button>