<h3 class="fhir-column-header">Goals</h3>
<div id="goals-column" class="panel-group fhir-column">
    {{#each model as |goal|}}
        {{#draggable-object-target action="createRelation" ontoObject=goal}}
            {{#draggable-object content=goal}}
                <div {{action "hoverOn" goal on="mouseEnter"}} {{action "hoverOff" goal on="mouseLeave"}}>
                    {{#fhir-element root=goal type='Goal' as |section|}}
                        {{#if (eq section "expanded")}}
                            Description: {{fhir-edit name='description' attribute=goal.description action='altered'}}
                            Status: {{fhir-choice name='status' attribute=goal.status choices='proposed,planned,accepted,rejected,in-progress,achieved,sustaining,on-hold,cancelled'}}
                            Status Date: {{fhir-date name='statusDate' attribute=goal.statusDate}}
                            {{related-list parent=goal relation='rlConditions' display='code.text' label="Problems"}}
                            {{related-list parent=goal relation='rlProcedureRequests' display='status' label="Interventions"}}
                        {{else}}
                            {{goal.description}}
                            {{#unless goal.description}}
                                Add description...
                            {{/unless}}
                        {{/if}}
                    {{/fhir-element}}
                </div>
            {{/draggable-object}}
        {{/draggable-object-target}}
    {{else}}
        No Goals<br />
    {{/each}}
    
</div> 
<button  class="nobackground" {{action 'createRecord' 'Goal'}}>
    <span class="glyphicon glyphicon-plus"></span> <strong>Add Goal</strong> 
</button>
