<div class="row" style="margin-bottom:0px">
    <div class="col-xs-12">
        <h3 class="fhir-column-header">Interventions / Observations</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-8"></div>
    <div class="col-xs-4" style="padding-right:0px;padding-left:0px">
        <button class="nobackground" {{action 'createRecord' 'ProcedureRequest'}}>
            <span class="glyphicon glyphicon-plus"></span> <strong>Add</strong>
        </button>
    </div>
</div>

<div id="interventions-column" class="panel-group fhir-column">
    {{#each model as |intervention|}}
        {{#draggable-object-target action="createRelation" ontoObject=intervention}}
            {{#draggable-object content=intervention}}
                <div {{action "hoverOn" intervention on="mouseEnter"}} {{action "hoverOff" intervention on="mouseLeave"}}>
                    {{#fhir-element root=intervention type='ProcedureRequest' as |section|}}
                        {{#if (eq section "expanded")}}
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-12 fhir-form-item">
                                        <div class="col-xs-12 col-lg-6">
                                            {{#codeable-concept parent=intervention name='code'}}
                                                {{fhir-edit parent=intervention name='code.text'}}
                                            {{/codeable-concept}}
                                            {{#each intervention.changes.[-code-text] as |cr|}}
                                                {{change-request parent=intervention name='code.text' cr=cr}}
                                            {{/each}}
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            {{fhir-choice parent=intervention name='status'
                                            choices='proposed,draft,requested,received,accepted,in-progress,completed,suspended,rejected,aborted'}}
                                            {{#each intervention.changes.[-status] as |cr|}}
                                                {{change-request parent=intervention name='status' cr=cr}}
                                            {{/each}}
                                        </div>
                                    </div>
                                    <div class=" col-xs-12 fhir-form-item">
                                        <label class="col-sm-5 control-label" for="priority"> Priority: </label>

                                        <div id="priority" class="col-xs-12 col-lg-7">
                                            {{fhir-choice parent=intervention name='priority' choices='unspecified,low,medium,high'}}
                                            {{#each intervention.changes.[-priority] as |cr|}}
                                                {{change-request parent=intervention name='priority' cr=cr}}
                                            {{/each}}
                                        </div>
                                    </div>
                                    <div class=" col-xs-12 fhir-form-item">
                                        <label class="col-sm-5 control-label" for="reason"> Reason: </label>

                                        <div id="reason" class="col-xs-12 col-lg-7">
                                            {{! Need to add compSelection here for binding to work| TODO: figure out why... }}
                                            {{fhir-object-select compSelection=intervention.rlCondition parent=intervention variable='reasonReference' localVariable='rlCondition' options=careplan.Conditions}}
                                        </div>
                                    </div>
                                    <select id="" class="form-control">
                                        <option disabled selected> Body Sites</option>
                                    </select>

                                    <div>
                                        Performer
                                    </div>
                                    <div>
                                        Orderer
                                    </div>
                                    <br>
                                    Scheduled: {{fhir-timing parent=intervention name='scheduledTiming'}}<br><br>
                                    Ordered On: {{fhir-datetime parent=intervention name='orderedOn' showTime=true}}
                                    {{#each intervention.changes.[-orderedOn] as |cr|}}
                                        {{change-request parent=intervention name='orderedOn' cr=cr}}
                                    {{/each}}
                                    {{related-list parent=intervention relation='rlGoals' display='description' label="Goals"}}
                                </div>
                            </div>
                        {{else}}
                            {{intervention.code.text}} - {{intervention.status}}
                        {{/if}}
                    {{/fhir-element}}
                </div>
            {{/draggable-object}}
        {{/draggable-object-target}}
    {{else}}
        No Interventions<br/>
    {{/each}}

</div>
