<h3 class="fhir-column-header">Interventions</h3>
<div id="interventions-column" class="panel-group fhir-column">
    {{#each model as |intervention|}}
        {{#draggable-object-target action="createRelation" ontoObject=intervention}}
            {{#draggable-object content=intervention}}
                <div {{action "hoverOn" intervention on="mouseEnter"}} {{action "hoverOff" intervention on="mouseLeave"}}>
                    {{#fhir-element root=intervention type='ProcedureRequest' as |section|}}
                        {{#if (eq section "expanded")}}
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-12 fhir-form-item">
                                        <div class="col-xs-12 col-lg-6">
                                            {{#codeable-concept parent=intervention name='code'}}
                                                {{fhir-edit attribute=intervention.code.text }}
                                            {{/codeable-concept}}
                                        </div>
                                        <div class="col-xs-12 col-lg-6">
                                            {{fhir-choice attribute=intervention.status
                                            choices='proposed,draft,requested,received,accepted,in-progress,completed,suspended,rejected,aborted'}}
                                        </div>
                                    </div>
                                    <div class=" col-xs-12 fhir-form-item">
                                        <label class="col-sm-5 control-label" for="priority"> Priority: </label>

                                        <div id="priority" class="col-xs-12 col-lg-7">
                                            {{fhir-choice attribute=intervention.priority choices='unspecified,low,medium,high'}}
                                        </div>
                                    </div>
                                    <div class=" col-xs-12 fhir-form-item">
                                        <label class="col-sm-5 control-label" for="reason"> Reason: </label>

                                        <div id="reason" class="col-xs-12 col-lg-7">
                                            {{! Need to add compSelection here for binding to work| TODO: figure out why... }}
                                            {{fhir-object-select compSelection=intervention.rlCondition parent=intervention variable='reasonReference' localVariable='rlCondition' options=careplan.Conditions}}
                                        </div>
                                    </div>
                                    <select id="" class="form-control">
                                        <option disabled selected> Body Sites</option>
                                    </select>

                                    <div>
                                        Performer
                                    </div>
                                    <div>
                                        Orderer
                                    </div>

                                    Ordered On: {{fhir-datetime attribute=intervention.orderedOn showTime=false}}
                                    {{related-list parent=intervention relation='rlGoals' display='description' label="Goals"}}
                                </div>
                            </div>
                        {{else}}
                            {{intervention.code.text}} - {{intervention.status}}
                        {{/if}}
                    {{/fhir-element}}
                </div>
            {{/draggable-object}}
        {{/draggable-object-target}}
    {{else}}
        No Interventions<br/>
    {{/each}}

</div>
<button class="nobackground" {{action 'createRecord' 'ProcedureRequest'}}>
    <span class="glyphicon glyphicon-plus"></span> <strong>Add Intervention</strong>
</button>
