<div class="row">
    <div class="col-xs-8">
        <h3 class="fhir-column-header">Medications</h3>
    </div>
</div>
<div class="panel-group fhir-column">
    {{#each model as |order|}}
        {{#draggable-object-target action="createRelation" ontoObject=order}}
            {{#draggable-object content=order}}
                <div {{action "hoverOn" order on="mouseEnter"}} {{action "hoverOff" order on="mouseLeave"}}>
                    {{#fhir-element root=order type='MedicationOrder' as |section|}}
                        {{#if order.medicationReference.medication.code.text}}
                            <!-- medication text should NOT be editable -->
                            {{order.medicationReference.medication.code.text}}
                        {{else}}
                            NO MEDICATION
                        {{/if}}
                        {{#if (eq section "expanded")}}
                            {{#backbone-element parent=order name='dosageInstruction' type='medication-order-dosage-instruction-component'}}
                            <div class=" col-xs-12 fhir-form-item">
                                <label class="col-sm-5 control-label" for="dosage"> Dosage: </label>
                                <div id="dosage" class="col-xs-12 col-lg-7">
                                    {{fhir-edit parent=order.dosageInstruction.firstObject name='text'}}
                                </div>
                            </div>
                            {{/backbone-element}}
                            <div class=" col-xs-12 fhir-form-item">
                                <label class="col-sm-5 control-label" for="reason"> Reason: </label>

                                <div id="reason" class="col-xs-12 col-lg-7">
                                    {{! Need to add compSelection here for binding to work| TODO: figure out why... }}
                                    {{fhir-object-select compSelection=order.rlCondition parent=order variable='reasonReference' localVariable='rlCondition' options=careplan.Conditions}}
                                </div>
                            </div>
                        {{/if}}
                    {{/fhir-element}}
                </div>
            {{/draggable-object}}
        {{/draggable-object-target}}

    {{else}}
        No Medications<br/>
    {{/each}}
    <!--<button class="glyphicon glyphicon-plus" {{action 'add'}}/> <strong>Add Medication</strong>-->
</div>
