{{!--
Copyright 2016 The MITRE Corporation, All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this work except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}

<div class="row">
    <div class="col-xs-8">
        <h3 class="fhir-column-header"><span class="resource-type-letter">M</span>edications</h3>
    </div>
    {{#if isPhysician}}
    <div class="col-xs-4" style="padding-top:10px;padding-right:0px;padding-left:0px">
        <span class="nobackground f-right">
            {{#link-to 'medrec' careplan.patient}} Reconcile {{/link-to}}
        </span>
    </div>
    {{else}}
    <div class="col-xs-4" style="padding-top:10px;padding-right:0px;padding-left:0px">
        <span class="nobackground f-right">
            {{#link-to 'medentry' careplan.patient}} Report Home Meds {{/link-to}}
        </span>
    </div>
    {{/if}}
</div>
<div class="panel-group fhir-column" style="{{careplan.splitStyle}}">
    {{#each model as |medicationOrder|}}
        {{resource-medication-order root=medicationOrder careplan=careplan}}
    {{else}}
        No Medications<br/>
    {{/each}}
    <!--<button class="glyphicon glyphicon-plus" {{action 'add'}}/> <strong>Add Medication</strong>-->
</div>
