<div class="row">
    <div class="col-xs-8">
        <h3 class="fhir-column-header">Medications</h3>
    </div>
    {{#if isPhysician}}
    <div class="col-xs-4" style="padding-top:10px;padding-right:0px;padding-left:0px">
        <span class="nobackground f-right">
            {{#link-to 'medrec' careplan.patient}} Reconciliation {{/link-to}}
        </span>
    </div>
    {{else}}
    <div class="col-xs-4" style="padding-top:10px;padding-right:0px;padding-left:0px">
        <span class="nobackground f-right">
            {{#link-to 'medentry' careplan.patient}} Medlist {{/link-to}}
        </span>
        <span class="nobackground f-right" >
            {{#link-to 'medaction' careplan.patient}} Actions {{/link-to}}
        </span>
    </div>
    {{/if}}
</div>
<div class="panel-group fhir-column">
    {{#each model as |order|}}
        {{#draggable-object-target action="createRelation" ontoObject=order}}
            {{#draggable-object content=order}}
                <div {{action "hoverOn" order on="mouseEnter"}} {{action "hoverOff" order on="mouseLeave"}}>
                    {{#fhir-element root=order toHighlight=careplan.toHighlight type='MedicationOrder' as |section|}}
                        {{#if order.displayText}}
                            <!-- medication text should NOT be editable -->
                            {{order.displayText}}
                        {{else}}
                            NO MEDICATION
                        {{/if}}
                        {{#if (eq section "expanded")}}
                            {{#backbone-element parent=order name='dosageInstruction' type='medication-order-dosage-instruction-component' isArray=true}}
                                <div class=" col-xs-12 fhir-form-item">
                                    <label class="col-sm-5 control-label" for="dosage"> Dosage: </label>

                                    <div id="dosage" class="col-xs-12 col-lg-7">
                                        {{fhir-edit parent=order.dosageInstruction.firstObject name='text'}}
                                    </div>
                                </div>
                            {{/backbone-element}}
                            <div class=" col-xs-12 fhir-form-item">
                                <label class="col-sm-5 control-label" for="reason"> Reason: </label>

                                <div id="reason" class="col-xs-12 col-lg-7">
                                    {{! Need to add compSelection here for binding to work| TODO: figure out why... }}
                                    {{fhir-object-select compSelection=order.relatedCondition parent=order variable='reasonReference' localVariable='relatedCondition' options=parentController.conditions}}
                                </div>
                            </div>
                            {{comm-channel resource=order resource_type='Medication'}}
                        {{/if}}
                    {{/fhir-element}}
                </div>
            {{/draggable-object}}
        {{/draggable-object-target}}

    {{else}}
        No Medications<br/>
    {{/each}}
    <!--<button class="glyphicon glyphicon-plus" {{action 'add'}}/> <strong>Add Medication</strong>-->
</div>
