<div>
    <div class='row'>
        <div class='col-xs-5ths'>
            <h4>VA Medications</h4>
        </div>
        <div class='col-xs-5ths'>
            <h4>Home Health</h4>
        </div>
        <div class='col-xs-5ths'>
            <h4>Decision</h4>
        </div>
        <div class='col-xs-5ths'>
            <h4>Home Health Actions Required</h4>
        </div>
        <div class='col-xs-5ths'>
            <h4>VA Internal</h4>
        </div>
    </div>
    {{#each model as |medpair index|}}
        <div class='row'>
            <div class='col-xs-5ths'>
                <div>
                    {{medpair.ehrMed.medicationReference.display}}
                </div>
                <div>
                    <span>{{!-- TODO frequency? --}}(frequency)</span>
                    <span>{{medpair.ehrMed.dosageInstruction.firstObject.text}}</span>
                </div>
            </div>
            <div class='col-xs-5ths'>
                <div>
                    <span class="{{if medpair.discrepancy.name 'medrec-discrepancy'}}">{{medpair.homeMed.name}}</span>
                </div>
                <div>
                    <span class="{{if medpair.discrepancy.freq 'medrec-discrepancy'}}">{{medpair.homeMed.freq}}</span>
                    <span class="{{if medpair.discrepancy.dose 'medrec-discrepancy'}}">{{medpair.homeMed.dose}}</span>
                </div>
            </div>
            <div class='col-xs-5ths'>
                <div class="radio">
                    <div class="row">
                        <div class="col-xs-6">
                        <label>
                            {{radio-button value='Accept HH' checked=medpair.homeMed.action}} Accept HH
                        </label>
                        </div>
                        <div class="col-xs-6">
                        <label>
                            {{radio-button value='Clarify' checked=medpair.homeMed.action}} Clarify
                        </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                        <label>
                            {{radio-button value='No Action' checked=medpair.homeMed.action}} No Action
                        </label>
                        </div>
                        <div class="col-xs-6">
                        <label>
                            {{radio-button value='Enforce VA' checked=medpair.homeMed.action}} Enforce VA
                        </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xs-5ths'>
                Home Health Actions Required
            </div>
            <div class='col-xs-5ths'>
                VA Internal
            </div>
        </div>
    {{/each}}

    <div class='row'><h3>Actions List</h3></div>

    <div class='row'>
        <div class='col-xs-2'>
            <h4>Medication</h4>
        </div>
        <div class='col-xs-2'>
            <h4>Decision</h4>
        </div>
        <div class='col-xs-4'>
            <h4>Home Health Actions Required</h4>
        </div>
        <div class='col-xs-4'>
            <h4>VA Internal</h4>
        </div>
    </div>

    {{#each model as |medpair index|}}
    {{!-- Would be nice to use filteredContent here, but it doesn't play nice --}}

        {{#if medpair.homeMed.actionNeedsSignature}}
            <div class='row'>
                <div class='col-xs-2'>
                    {{#if medpair.ehrMed}}
                        {{medpair.ehrMed.medicationReference.display}}
                    {{else}}
                        {{medpair.homeMed.name}}
                    {{/if}}
                </div>
                <div class='col-xs-2'>
                    {{medpair.homeMedaction}}
                </div>
                <div class='col-xs-4'>
                    {{medpair.homeMed.hhNotes}}
                </div>
                <div class='col-xs-4'>
                    {{medpair.homeMed.vaNotes}}
                </div>
            </div>
        {{/if}}

    {{/each}}

</div>
