<div>
    <div class='medrec-table-header row'>
        <div class='col-xs-5ths'>
            <h4>VA Medications</h4>
        </div>
        <div class='col-xs-5ths'>
            <h4>Home Health</h4>
        </div>
        <div class='col-xs-5ths'>
            <h4>Decision</h4>
        </div>
        <div class='col-xs-5ths'>
            <h4>Home Health Actions Required</h4>
        </div>
        <div class='col-xs-5ths'>
            <h4>VA Internal</h4>
        </div>
    </div>
    <div class='medrec-table' style="overflow-y:auto; height:40vh">
    {{#each model as |medpair index|}}
        <div class='row '>
            <div class='col-xs-5ths {{if (eq medpair.homeMed.action 'Enforce VA') 'medrec-accepted'}}'  {{action "enforceVA" medpair  on='click'}}>
                <div>
                    {{medpair.ehrMed.medicationReference.display}}
                </div>
                <div>
                    <span>{{!-- TODO frequency? --}}(frequency)</span>
                    <span>{{medpair.ehrMed.dosageInstruction.firstObject.text}}</span>
                </div>
            </div>
            <div class='col-xs-5ths {{if (eq medpair.homeMed.action 'Accept HH') 'medrec-accepted'}}' {{action "acceptHH" medpair  on='click'}}>
                <div>
                    <span class="{{if medpair.discrepancy.name 'medrec-discrepancy'}}">{{medpair.homeMed.name}}</span>
                </div>
                <div>
                    <span class="{{if medpair.discrepancy.freq 'medrec-discrepancy'}}">{{medpair.homeMed.freq}}</span>
                    <span class="{{if medpair.discrepancy.dose 'medrec-discrepancy'}}">{{medpair.homeMed.dose}}</span>
                </div>
            </div>
            <div class='col-xs-5ths'>
                <div class="radio">
                    <div class="row">
                        <div class="col-xs-6">
                        <label class="{{if (eq medpair.homeMed.action 'Accept HH') 'medrec-accepted'}}">
                            {{radio-button value='Accept HH' checked=medpair.homeMed.action}} Accept HH
                        </label>
                        </div>
                        <div class="col-xs-6">
                        <label class="{{if (eq medpair.homeMed.action 'Clarify') 'medrec-accepted'}}">
                            {{radio-button value='Clarify' checked=medpair.homeMed.action}} Clarify
                        </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                        <label class="{{if (eq medpair.homeMed.action 'No Action') 'medrec-accepted'}}">
                            {{radio-button value='No Action' checked=medpair.homeMed.action}} No Action
                        </label>
                        </div>
                        <div class="col-xs-6">
                        <label class="{{if (eq medpair.homeMed.action 'Enforce VA') 'medrec-accepted'}}">
                            {{radio-button value='Enforce VA' checked=medpair.homeMed.action}} Enforce VA
                        </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xs-5ths'>
                <div style="margin-top:10px">
                    {{textarea value=medpair.homeMed.hhNotes}}
                </div>
            </div>
            <div class='col-xs-5ths'>
                <div style="margin-top:10px">
                    {{textarea value=medpair.homeMed.vaNotes}}
                </div>
            </div>
        </div>
    {{/each}}
    </div>

    <div class='row medrec-table-header '><h3>Actions List</h3></div>
    Show:
    <div>
        {{input type="checkbox" checked=filterEnforceVA}} Enforce VA
    </div>
    <div>
        {{input type="checkbox" checked=filterAcceptHH}} Accept HH
    </div>
    <div>
        {{input type="checkbox" checked=filterClarify}} Clarify
    </div>



    <div class='row medrec-table-header '>
        <div class='col-xs-2'>
            <h4>Medication</h4>
        </div>
        <div class='col-xs-2'>
            <h4>Decision</h4>
        </div>
        <div class='col-xs-4'>
            <h4>Home Health Actions Required</h4>
        </div>
        <div class='col-xs-4'>
            <h4>VA Internal</h4>
        </div>
    </div>

    <div class='medrec-table' style="overflow-y:auto; height:40vh">
    {{#each model as |medpair index|}}
    {{!-- Would be nice to use filteredContent here, but it doesn't play nice --}}

        {{#if medpair.homeMed.actionNeedsSignature}}
            <div class='row'>
                <div class='col-xs-2'>
                    {{#if medpair.ehrMed}}
                        {{medpair.ehrMed.medicationReference.display}}
                    {{else}}
                        {{medpair.homeMed.name}}
                    {{/if}}
                </div>
                <div class='col-xs-2'>
                    {{medpair.homeMed.action}}
                </div>
                <div class='col-xs-4'>
                    {{medpair.homeMed.hhNotes}}
                </div>
                <div class='col-xs-4'>
                    {{medpair.homeMed.vaNotes}}
                </div>
            </div>
        {{/if}}

    {{/each}}
    </div>

</div>
