{{!--
Copyright 2016 The MITRE Corporation, All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this work except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--}}

<div>
    <div class='medrec-table-header row'>
        <div class='col-xs-5ths'>
            <h4>VA Medications</h4>
        </div>
        <div class='col-xs-5ths'>
            <h4>Home Health</h4>
        </div>
        <div class='col-xs-5ths'>
            <h4>Decision</h4>
        </div>
        <div class='col-xs-5ths'>
            <h4>Home Health Actions Required</h4>
        </div>
        <div class='col-xs-5ths'>
            <h4>VA Internal</h4>
        </div>
    </div>
    <div class='medrec-table' style="overflow-y:auto; height:40vh">
        {{#each model as |medpair index|}}
            <div class='row '>
                {{#if medpair.ehrMed}}
                    <div class='col-xs-5ths {{if (eq medpair.homeMed.action 'Enforce VA') 'medrec-accepted'}}' {{action 'setAction' medpair 'Enforce VA' on='click'}}>
                        <div>
                            {{medpair.ehrMed.medicationReference.display}}
                        </div>
                        <div>
                            <span>{{medpair.ehrMed.dosageInstruction.firstObject.text}}</span>
                        </div>
                        <div>
                            <span>({{medpair.ehrMed.dosageInstruction.firstObject.timing.repeat.displayCode}})</span>
                        </div>
                    </div>
                    {{#if medpair.homeMed.not_found}}
                    <div class='col-xs-5ths {{if (eq medpair.homeMed.action 'Accept HH') 'medrec-accepted'}}' {{action 'setAction' medpair 'Do not use' on='click'}}>
                        <span style="font-style: italic; color: gray">Not Found</span>
                        {{#if medpair.homeMed.note}} <div>
                            <span>Notes: {{medpair.homeMed.note}}</span>
                        </div> {{/if}} 
                    </div>
                    {{else}}
                    <div class='col-xs-5ths {{if (eq medpair.homeMed.action 'Accept HH') 'medrec-accepted'}}' {{action 'setAction' medpair 'Accept HH' on='click'}}>
                        <div>
                            <span class="{{if medpair.discrepancy.name 'medrec-discrepancy'}}">{{medpair.homeMed.name}}</span>
                        </div>
                        <div>
                            <span class="{{if medpair.discrepancy.freq 'medrec-discrepancy'}}">{{medpair.homeMed.freq}}</span>
                            <span class="{{if medpair.discrepancy.dose 'medrec-discrepancy'}}">{{medpair.homeMed.dose}}</span>
                        </div>
                        {{#unless medpair.homeMed.compliance_bool}} <div>
                            <span>
                                    Patient not adhering ({{medpair.homeMed.noncompliance_note}})
                            </span>
                        </div> {{/unless}} 
                        {{#unless medpair.homeMed.prescribed_by_primary}} <div>
                            <span>
                                    Outside Prescriber: {{medpair.homeMed.prescriber_note}}
                            </span>
                        </div> {{/unless}} 
                        {{#if medpair.homeMed.note}} <div>
                            <span>Notes: {{medpair.homeMed.note}}</span>
                        </div> {{/if}} 
                    </div>
                    {{/if}}
                {{else}}
                    <div class='col-xs-5ths {{if (eq medpair.homeMed.action 'Do not use') 'medrec-accepted'}}' {{action 'setAction' medpair 'Do not use' on='click'}}>
                        <span style="font-style: italic; color: gray">Not Found</span>
                    </div>
                    <div class='col-xs-5ths {{if (eq medpair.homeMed.action 'Renew') 'medrec-accepted'}}' {{action 'setAction' medpair 'Renew' on='click'}}>
                        <div>
                            <span>{{medpair.homeMed.name}}</span>
                        </div>
                        <div>
                            <span>{{medpair.homeMed.freq}}</span>
                            <span>{{medpair.homeMed.dose}}</span>
                        </div>
                        {{#unless medpair.homeMed.compliance_bool}} <div>
                            <span>
                                    Patient not adhering ({{medpair.homeMed.noncompliance_note}})
                            </span>
                        </div> {{/unless}} 
                        {{#unless medpair.homeMed.prescribed_by_primary}} <div>
                            <span>
                                    Outside Prescriber: {{medpair.homeMed.prescriber_note}}
                            </span>
                        </div> {{/unless}} 
                        {{#if medpair.homeMed.note}} <div>
                            <span>Notes: {{medpair.homeMed.note}}</span>
                        </div> {{/if}} 
                    </div>
                {{/if}}
                <div class='col-xs-5ths'>
                    <div class="radio">
                        <div class="row">
                            <div class="col-xs-6">
                                {{#if medpair.ehrMed}}
                                    {{radio-input attr=medpair.homeMed.action checkedClass='medrec-accepted' text='Enforce VA'}}
                                {{else}}
                                    {{radio-input attr=medpair.homeMed.action checkedClass='medrec-accepted' text='Do not use'}}
                                {{/if}}
                            </div>
                            <div class="col-xs-6">
                                {{radio-input attr=medpair.homeMed.action checkedClass='medrec-accepted' text='Clarify'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                {{#if medpair.ehrMed}}
                                    {{radio-input attr=medpair.homeMed.action checkedClass='medrec-accepted' text='Update VA'}}
                                {{else}}
                                    {{radio-input attr=medpair.homeMed.action checkedClass='medrec-accepted' text='Add to VA list'}}
                                {{/if}}
                            </div>
                            <div class="col-xs-6">
                                {{radio-input attr=medpair.homeMed.action checkedClass='medrec-accepted' text='These are equivalent'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-xs-5ths'>
                    <div style="margin-top:10px">
                        {{textarea value=medpair.homeMed.hhNotes}}
                    </div>
                </div>
                <div class='col-xs-5ths'>
                    <div style="margin-top:10px">
                        {{textarea value=medpair.homeMed.vaNotes}}
                    </div>
                </div>
            </div>
        {{else}}
            <h4>No entries found</h4>
        {{/each}}
    </div>

    <div class='row medrec-table-header '><h3>Actions List</h3></div>
    <h4 style='margin: 0.5em; display: inline-block'>Show:</h4>

    <div style='margin: 0.5em; display: inline-block'>
        {{input type="checkbox" checked=showEnforceVA}} Enforce VA
    </div>
    <div style='margin: 0.5em; display: inline-block'>
        {{input type="checkbox" checked=showAcceptHH}} Update VA
    </div>
    <div style='margin: 0.5em; display: inline-block'>
        {{input type="checkbox" checked=showClarify}} Clarify
    </div>
    <div style='margin: 0.5em; display: inline-block'>
        {{input type="checkbox" checked=showRenew}} Renew
    </div>
    <div style='margin: 0.5em; display: inline-block'>
        {{input type="checkbox" checked=showDoNotUse}} Do not use
    </div>

    <div class='row medrec-table-header '>
        <div class='col-xs-2'>
            <h4>Medication</h4>
        </div>
        <div class='col-xs-2'>
            <h4>Decision</h4>
        </div>
        <div class='col-xs-4'>
            <h4>Home Health Actions Required</h4>
        </div>
        <div class='col-xs-4'>
            <h4>VA Internal</h4>
        </div>
    </div>

    <div class='medrec-table' style="overflow-y:auto; height:23vh">
        {{#each model as |medpair index|}}
            {{#if medpair.homeMed.actionNeedsSignature}}
                <div class='row'>
                    <div class='col-xs-2'>
                        {{#if medpair.ehrMed}}
                            {{medpair.ehrMed.medicationReference.display}}
                        {{else}}
                            {{medpair.homeMed.name}}
                        {{/if}}
                    </div>
                    <div class='col-xs-2'>
                        {{medpair.homeMed.action}}
                    </div>
                    <div class='col-xs-4'>
                        {{medpair.homeMed.hhNotes}}
                    </div>
                    <div class='col-xs-4'>
                        {{medpair.homeMed.vaNotes}}
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>

    <div>
        <span style='margin: 0.5em'>{{input type='text' value=signatureText placeholder='Enter your signature' disabled=disableSubmit}}</span>
        <button style='margin: 0.5em' {{action 'submitForm' on='click'}} disabled={{disableSubmit}}>Sign and Submit
        </button>
        <span style='margin: 0.5em; color: red'>{{errorMessage}}</span>
        <span style='margin: 0.5em; color: green'>{{successMessage}}</span>
    </div>
</div>
