<div class="row">
    <div class="col-xs-8">
        <h3 class="fhir-column-header">Nutrition</h3>
    </div>
    <div class="col-xs-4" style="padding-top:10px;padding-right:0px;padding-left:0px">
        <button class="nobackground f-right" {{action 'createRecord' 'NutritionOrder'}}>
            <span class="glyphicon glyphicon-plus"></span> <strong>Add</strong>
        </button>
    </div>
</div>
<div id="nutrition-column" class="panel-group fhir-column">
    {{#each model as |nutrition|}}
        {{#draggable-object-target action="createRelation" ontoObject=nutrition}}
            {{#draggable-object content=nutrition}}
                <div {{action "hoverOn" nutrition on="mouseEnter"}} {{action "hoverOff" nutrition on="mouseLeave"}}>
                    {{#fhir-element root=nutrition toHighlight=careplan.toHighlight type='NutritionOrder' as |section|}}
                        {{#if nutrition.isExpanded}}
                        {{! THIS IS ONLY FOR SUPPLEMENTS TODO: NiceToHave: Create a type handler that can use the other types}}
                            <div class="row">
                                {{#backbone-element parent=nutrition name='supplement' type='nutrition-order-supplement-component' isArray=true}}
                                    <div class="form-group">
                                        <div class="col-xs-12 fhir-form-item">
                                            <div class="col-xs-12 col-lg-6">
                                                {{fhir-edit parent=nutrition.supplement.firstObject name='productName'}}
                                                {{#each nutrition.changes.[-supplement-0-productName] as |cr|}}
                                                    {{change-request parent=nutrition.supplement.firstObject name='productName' cr=cr}}
                                                {{/each}}
                                            </div>
                                            <div class="col-xs-12 col-lg-6">
                                                {{fhir-choice parent=nutrition name='status'
                                                choices='proposed,draft,planned,requested,active,on-hold,completed,cancelled'}}
                                                {{#each nutrition.changes.[-status] as |cr|}}
                                                    {{change-request parent=nutrition name='status' cr=cr}}
                                                {{/each}}
                                            </div>
                                        </div>
                                        <div class=" col-xs-12 fhir-form-item">
                                            <label class="col-sm-5 control-label" for="type"> Type: </label>

                                            <div id="type" class="col-xs-12 col-lg-7">
                                                {{#codeable-concept parent=nutrition.supplement.firstObject name='type'}}
                                                    {{fhir-edit parent=nutrition.supplement.firstObject.type name='text'}}
                                                {{/codeable-concept}}
                                                {{#each nutrition.changes.[-supplement-0-type-text] as |cr|}}
                                                    {{change-request parent=nutrition.supplement.firstObject.type name='text' cr=cr}}
                                                {{/each}}

                                            </div>
                                        </div>
                                        <div class=" col-xs-12 fhir-form-item">
                                            <label class="col-xs-12 control-label" for="type"> Instruction: </label>

                                            <div id="type" class="col-xs-12">
                                                {{fhir-edit parent=nutrition.supplement.firstObject name='instruction'}}
                                                {{#each nutrition.changes.[-supplement-0-instruction] as |cr|}}
                                                    {{change-request parent=nutrition.supplement.firstObject name='instruction' cr=cr}}
                                                {{/each}}
                                            </div>
                                        </div>
                                        <div>
                                            Scheduled: {{nutrition.supplement.firstObject.schedule.repeat.displayCode}} {{fhir-timing parent=nutrition.supplement.firstObject name='schedule'}}
                                            <br>
                                            Quantity: {{fhir-simple-quantity parent=nutrition.supplement.firstObject name='quantity'}}
                                            {{!-- TODO: Orderer(Reference(Practitioner)) --}}
                                        </div>
                                    </div>
                                {{/backbone-element}}
                                Ordered On: {{fhir-datetime parent=nutrition name='dateTime' showTime=true}}
                                {{#each nutrition.changes.[-dateTime] as |cr|}}
                                    {{change-request parent=nutrition name='dateTime' cr=cr}}
                                {{/each}}
                                {{related-list parent=nutrition relation='relatedGoals' display='description' label="Goals" lastExpanded=controller.lastExpanded}}
                                {{comm-channel resource=nutrition resource_type='Nutrition'}}
                            </div>
                        {{else}}
                            {{nutrition.displayText }} - {{nutrition.status}}
                        {{/if}}
                    {{/fhir-element}}
                </div>
            {{/draggable-object}}
        {{/draggable-object-target}}
    {{else}}
        No Nutrition<br/>
    {{/each}}

</div>
