<h2><b>Observations</b></h2>
<div class="panel-group" style="height:700px;overflow-y:auto;background-color: rgb(201,222,242)">
	{{#each model as |observation|}}
        {{#fhir-element root=observation type='DiagnosticOrder' as |section|}}
			{{#if (eq section "expanded")}}
				Status: {{fhir-choice name='status' attribute=observation.status
					choices='proposed,draft,planned,requested,received,accepted,in-progress,review,completed,cancelled,suspended,rejected,failed'}}
			{{else}}
				{{fhir-choice name='status' attribute=observation.status
					choices='proposed,draft,planned,requested,received,accepted,in-progress,review,completed,cancelled,suspended,rejected,failed'}}
			{{/if}}
		{{/fhir-element}}<br>
	{{else}}
	  No Observations<br>
	{{/each}}
	<button class="glyphicon glyphicon-plus" {{action 'createRecord' 'DiagnosticOrder'}}/> <strong>Add Observation</strong>
</div>
