{{#if session.isAuthenticated}}
	<!-- Sidebar -->
	<div id="wrapper" class>
	  <div id="sidebar-wrapper" 
		style="background-color: rgb(242,247,252);outline: 1px solid black;min-width:370px">
	  <div class="panel panel-default" style="background-color: rgb(242,247,252)">       
		<div class="panel-heading" style="background-color: rgb(242,247,252);padding: 0">
		  <div style="background-color: rgb(197,234,142);text-align: center">
			{{firstName}},{{lastName}} (Active) 
		  </div>
		  <span class="glyphicon glyphicon-user" style="font-size: 5em;"/>
		  <div class="panel" style="padding: 0">{{gender}}<br>{{birthDate}}</div> 
		</div>  
		<div class="panel-body" style="padding: 0">
		<!-- Start Tab Content -->
		<div class="tab-content" style="padding: 0">
			<ul class="nav nav-tabs" style="background-color: rgb(242,247,252)">
				<li class="active"><a href="" style="font-size:12px">Filters</a></li>
				<li><a href="" style="font-size:12px">Patient</a></li>
				<li><a href="" style="font-size:12px">Notes</a></li>
				<li><a href="" style="font-size:12px">History</a></li>
				<li><a href="" style="font-size:12px">Requests</a></li>
			</ul>  		
			{{outlet "filters"}}
		</div>
		<!-- End Tab Content -->
			</div>
		  </div>
	  </div>
	  
	  <!-- Page Content -->
	  <div id="page-content-wrapper" style="background-color: rgb(242,247,252);
		  height:100%;min-height:800px;min-width:670px;margin-left:120px">
		<!--<div class="alert alert-warning" role="alert" style="background-color: rgb(255,211,156)">
			Other practitioners have requested changes to this plan's...
			<button>Accept All</button>
			<button>Reject All</button>
		</div>-->
		<div class="row">
		  {{#if showProblems}}
			  <div class="col-sm-3 well" style="background-color: rgb(201,222,242)">
				{{render "problems" problems}}
			  </div>
		  {{/if}}
		  {{#if showGoals}}
			  <div class="col-sm-3 well" style="background-color: rgb(201,222,242)">
				{{render "goals" goals}}
			  </div>
		  {{/if}}
		  {{#if showInterventions}}
			  <div class="col-sm-2 well" style="background-color: rgb(201,222,242)">
				{{render "interventions" interventions}}
			  </div>
		  {{/if}}
		  {{#if showObservations}}
			  <div class="col-sm-2 well" style="background-color: rgb(201,222,242)">
				{{render "observations" observations}}
			  </div>
		  {{/if}}
		  {{#if showMedications}}
			  <div class="col-sm-2 well" style="background-color: rgb(201,222,242)">
				{{render "medications" medications}}
			  </div>
		  {{/if}}
		</div>
	  </div>
	</div>
{{/if}}