<h3>Problems</h3>
<div class="panel-group" style="height:600px;overflow-y:auto;background-color: rgb(201,222,242)">
    {{#each model as |problem|}}
        {{#draggable-object-target action="createRelation" ontoObject=problem}}
            {{#draggable-object content=problem}}
                <div {{action "hoverOn" problem on="mouseEnter"}} {{action "hoverOff" problem on="mouseLeave"}}>
                    {{#fhir-element root=problem type='Condition' as |section|}}
                        {{#if (eq section "expanded")}}
                            
                            {{!--codeable-concept parent=problem attribute=problem.code name='code' --}}
                            <!-- TODO Fix this to codable concept, but why is codable concept reliant on fhir element it seems overloaded -->
                           
                                 <div class="form-inline">
                                    <div class="form-group col-lg-12" style="padding:2px">
                                    {{fhir-edit parent=problem attribute=problem.code.text name='code' }}
                                    {{fhir-choice name='clinicalStatus' attribute=problem.clinicalStatus choices='active,relapse,remission,resolved'}}
                                    </div>
                                </div>
                                <select id="dropdown{{patient.id}}" class="form-control">
                                        <option disabled selected> Related Body Parts </option>
                                </select>
                                <div class="form-inline">
                                    <div class="form-group col-lg-12" style="padding:2px">
                                        {{fhir-choice parent=problem attribute=problem.severity name='severity' choices='Unspecified,Low,Moderate,Important,Critical'}}
                                        {{fhir-choice parent=problem attribute=problem.category name='category' choices='Complaint,Symptom,Finding,Diagnosis'}}
                                    </div>
                                </div>
                                <div>
                                    Onset:
                                        {{fhir-datetime name='onsetDateTime' attribute=problem.onsetDateTime}}
                                    Abatement:
                                        {{fhir-datetime name='abatementDateTime' attribute=problem.abatementDateTime}}
                                </div>
                        {{!--
                            {{#fhir-union root=problem
                            choices='[{"name":"onsetDateTime","type":"dateTime"},{"name":"onsetQuantity","type":"Age"},
											{"name":"onsetString","type":"Text"}]' as |selected|}}
                                {{#if (eq selected 'onsetDateTime')}}
                                    {{fhir-datetime name='onsetDateTime' attribute=problem.onsetDateTime}}
                                {{else if (eq selected 'onsetQuantity')}}
                                    {{fhir-edit name='onsetQuantity' attribute=problem.onsetQuantity}}
                                {{else if (eq selected 'onsetString')}}
                                    {{fhir-edit name='onsetString' attribute=problem.onsetString}}
                                {{/if}}
                            {{/fhir-union}}
                            --}}
                            {{related-list parent=problem attribute=goals choices=getAllGoals label="Goals"}}
                            {{related-list parent=problem attribute=medications choices=getAllMedications label="Medications"}}
                            <div style="clear:left;">
                                Notes:
                            </div>
                        {{else}}
                            {{problem.code.text}} - ({{problem.clinicalStatus}})
                        {{/if}}
                    {{/fhir-element}}
                </div>
                <br/>
            {{/draggable-object}}
        {{/draggable-object-target}}
    {{else}}
        No Problems<br/>
    {{/each}}
    <button class="glyphicon glyphicon-plus" {{action 'createRecord' 'Condition'}}/>
    <strong>Add Problem</strong>
</div>
