<h3 class="fhir-column-header">Problems</h3>
<div id="problems-column" class="panel-group fhir-column">
    {{#each model as |problem|}}
        {{#draggable-object-target action="createRelation" ontoObject=problem}}
            {{#draggable-object content=problem}}
                <div {{action "hoverOn" problem on="mouseEnter"}} {{action "hoverOff" problem on="mouseLeave"}}>
                    {{#fhir-element root=problem type='Condition' as |section|}}
                        {{#if (eq section "expanded")}}                           
                                <div class="form-inline">
                                    <div class="form-group col-lg-12" style="padding:2px">                                   
										{{#codeable-concept parent=problem name='code'}}
											{{fhir-edit trackChanges=isChangeRequest parent=problem attribute=problem.code.text name='text'}}
										{{/codeable-concept}}         
                                        {{fhir-choice parent=problem attribute=problem.clinicalStatus name='clinicalStatus' choices='active,relapse,remission,resolved'}}			
                                    </div>
                                </div> 
                                <div class="form-inline">
                                    <div class="form-group col-lg-12" style="padding:2px">
                                        {{#codeable-concept parent=problem name='severity'}}
										    {{fhir-choice parent=problem attribute=problem.severity.text name='text' choices='Unspecified,Low,Moderate,Important,Critical'}}
										{{/codeable-concept}}
										{{#codeable-concept parent=problem name='category'}}
										    {{fhir-choice parent=problem attribute=problem.category.text name='text' choices='Complaint,Symptom,Finding,Diagnosis'}}
										{{/codeable-concept}}
                                    </div>
                                </div>
                                <div>
                                    Onset:{{fhir-datetime name='onsetDateTime' attribute=problem.onsetDateTime}}
                                    Abatement:{{fhir-datetime name='abatementDateTime' attribute=problem.abatementDateTime}}
                                </div>
                                <select id="dropdown{{patient.id}}" class="form-control">
                                    <option disabled selected> Locations </option>
                                </select>
                            {{related-list parent=problem relation='rlGoals' display='description' label="Goals" lastExpanded=controller.lastExpanded}}
                            <div style="clear:left;">
                                Notes:
                            </div>
                        {{else}}
                            {{!TODO: Wrap this with severity border-left}}
                            {{problem.code.text}} - ({{problem.clinicalStatus}})                          
                        {{/if}}
                    {{/fhir-element}}
                </div>
            {{/draggable-object}}
        {{/draggable-object-target}}
    {{else}}
        No Problems<br/>
    {{/each}}   
</div>
<div>
<button  class="nobackground" {{action 'createRecord' 'Condition'}}>
    <span class="glyphicon glyphicon-plus"></span> <strong>Add Problem</strong> 
</button>
</div>

