<h3>Problems</h3>
<div class="panel-group dashboardColumn">
	{{#each problem in model}}
        {{#fhir-element element=problem as |section|}}
			{{#if (eq section "expanded")}}
				{{fhir-edit name='text' attribute=problem.code.text}}
			    <div>
				    Clinical Status: {{fhir-choice name='clinicalStatus' attribute=problem.clinicalStatus
					  choices='active,relapse,remission,resolved'
					}}	
				</div>	
					
				
			{{else}}
				{{problem.code.text}} - ({{problem.clinicalStatus}})
			{{/if}}
		{{/fhir-element}}<br>
	{{else}}
		No Problems<br>
	{{/each}}
	<div {{action 'add'}} style="float:right;"> Add Problem... </div>
</div>