<div class="row">
    <div class="col-xs-8">
        <h3 class="fhir-column-header">Problems</h3>
    </div>
    <div class="col-xs-4" style="padding-top:10px;padding-right:0px;padding-left:0px">
        <button class="nobackground f-right" {{action 'createRecord' 'Condition'}}>
            <span class="glyphicon glyphicon-plus"></span> <strong>Add</strong>
        </button>
    </div>
</div>
<div id="problems-column" class="panel-group fhir-column">
    {{#each model as |problem|}}
        {{#draggable-object-target action="createRelation" ontoObject=problem}}
            {{#draggable-object content=problem}}
                <div {{action "hoverOn" problem on="mouseEnter"}} {{action "hoverOff" problem on="mouseLeave"}}>
                    {{#fhir-element root=problem toHighlight=careplan.toHighlight type='Condition' as |section|}}
                        {{#if problem.isExpanded}}
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-12 fhir-form-item">
                                        <div class="col-xs-12">
                                            {{#codeable-concept parent=problem name='code'}}
                                                {{fhir-edit parent=problem name='code.text'}}
                                            {{/codeable-concept}}
                                        </div>
                                        {{!-- <div class="col-xs-12 col-lg-6">
                                            {{fhir-choice parent=problem name='clinicalStatus' choices='active,relapse,remission,resolved'}}
                                        </div> --}}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class=" col-xs-12" style="padding:2px; padding-right:0px">
                                    <label class="col-sm-5 control-label" for="severity"> Severity: </label>

                                    <div id="severity" class="col-xs-12 col-lg-7">
                                        {{#codeable-concept parent=problem name='severity'}}
                                            {{fhir-choice parent=problem name='severity.text' choices='Unspecified,Low,Moderate,Important,Critical'}}
                                        {{/codeable-concept}}
                                    </div>
                                </div>
                                <div class="col-xs-12" style="padding:2px; padding-right:0px">
                                    <label class="col-sm-5 control-label" for="category">Category:</label>

                                    <div id="category" class="col-xs-12 col-lg-7">
                                        {{#codeable-concept parent=problem name='category'}}
                                            {{fhir-choice parent=problem name='category.text' choices='Complaint,Symptom,Finding,Diagnosis'}}
                                        {{/codeable-concept}}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col-xs-12 fhir-form-item">
                                    <label class="col-sm-5 control-label" for="onset">Onset:</label>

                                    <div id="onset" class="col-xs-12 col-lg-7">
                                        {{fhir-datetime parent=problem name='onsetDateTime' showTime=true}}
                                    </div>
                                </div>
                                <div class="col-xs-12 fhir-form-item">
                                    <label class="col-sm-5 control-label" for="abatement">Abatement:</label>

                                    <div id="abatement" class="col-xs-12 col-lg-7">
                                        {{fhir-datetime parent=problem name='abatementDateTime' showTime=true}}
                                    </div>
                                </div>
                            </div>
                            <select id="dropdown{{patient.id}}" class="form-control">
                                <option disabled selected> Body Sites</option>
                            </select>
                            {{related-list parent=problem relation='relatedGoals' label="Goals"}}
                            {{comm-channel resource=problem resource_type='Problem'}}
                        {{! TODO: Implement Notes
                        <div style="clear:left;">
                            Notes:
                        </div> }}
                        {{else}}
                        {{!TODO: Wrap this with severity border-left}}
                            {{problem.displayText}}
                            {{#if problem.clinicalStatus}}
                                - ({{problem.clinicalStatus}})
                            {{/if}}
                        {{/if}}
                    {{/fhir-element}}
                </div>
            {{/draggable-object}}
        {{/draggable-object-target}}
    {{else}}
        No Problems<br/>
    {{/each}}
</div>
